<app-loader *ngIf="contentLoading"></app-loader>
<form [formGroup]="credentialsForm">
    <p-messages [(value)]="msgs"></p-messages>
    <div *ngIf="step === 'first'">
        <h1>Welcome to Clevateam!</h1>
        <p>Your <b>email address</b></p>
        <input
            name="email"
            class="form-input"
            type="email"
            placeholder="Email address"
            formControlName="email"
            (keyup)="onKeyupEmail($event)"
        />
        <p class="term-text">By creating a profile, you agree to our customer terms of service and privacy policy.</p>
        <div class="hc-form-row form-bottom">
            <button
                class="btn btn-primary"
                (click)="onFinishFirstStep()"
                [disabled]="!credentialsForm.valid"
                type="submit"
            >
                Next
                <span class="icon icon-right-arrow"></span>
            </button>
        </div>
    </div>
</form>

<form>
    <div *ngIf="step === 'second'">
        <h1>Check your email</h1>
        <p>
            We’ve just sent a 6-digit code to <b>{{ email }}</b
            >. It will expire shortly so enter it soon.
        </p>
        <app-ng-otp-input (onInputChange)="otp_value = $event" [config]="{ length: 6 }"></app-ng-otp-input>
        <p class="txt-opacity">Leave this wondow open while you check. Don’t forget to also check your span folder.</p>
        <button class="btn btn-primary" (click)="onFinishSecondStep()" type="submit">
            Next
            <span class="icon icon-right-arrow"></span>
        </button>
    </div>
</form>

<form [formGroup]="passwordForm">
    <div *ngIf="step === 'third'">
        <h1>Finally, create a password</h1>
        <input
            name="password"
            type="password"
            class="form-input"
            placeholder="Choose a password"
            formControlName="password"
        />
        <input
            name="confirm password"
            type="password"
            class="form-input password"
            placeholder="Retype password"
            formControlName="confirm_password"
        />
        <div
            class="error-message"
            *ngIf="
                passwordForm.controls.confirm_password.errors?.MatchPassword &&
                passwordForm.controls.confirm_password.touched
            "
        >
            Password does not match
        </div>
        <div class="hc-form-row form-bottom">
            <button
                class="btn btn-primary finish"
                (click)="onFinishThirdStep()"
                [disabled]="!passwordForm.valid"
                type="submit"
            >
                Finish
                <span class="icon icon-right-arrow"></span>
            </button>
        </div>
    </div>
</form>
