<div class="container fixed-width-container">
    <div class="pages-nav">
        <button class="back-btn" (click)="onBackClick()">
            <span class="icon"><img src="assets/images/left.svg" height="16px" alt="Left icon"/></span>
            <span class="text">{{ job?.title }}</span>
        </button>
    </div>
    <div class="title-block">
        <h1 class="page-title">{{ stage?.title }} Settings</h1>
        <div class="buttons-holder">
            <button class="btn btn-remove" (click)="onDelete()">
                <img src="/assets/images/delete.svg" alt="Delete" />
            </button>
            <button class="btn btn-primary ml20 w140" (click)="onSave()">Save</button>
        </div>
    </div>
    <div class="section-separator mb20"></div>
    <div class="content-section">
        <form [formGroup]="stageSettingsForm" *ngIf="stage && stage.id === 'applied'">
            <div class="form-content-section">
                <div class="description">
                    <strong class="title">Resume Matching Threshold</strong>
                    <p>
                        Control the bimetric matching threshold. This is a match of resume to job spec and job spec to
                        resume.
                    </p>
                    <p><a href="#">Learn about Bimetric Matching Thresholds</a></p>
                </div>
                <div class="form-content-holder">
                    <div class="form-content-box">
                        <div class="form-block">
                            <div class="input-block">
                                <label class="form-block-label">Resume Bimatching Threshold</label>
                                <div class="hc-slider-block">
                                    <p-slider
                                        styleClass="hc-slider"
                                        formControlName="resume_matching_threshold"
                                        [animate]="true"
                                        [min]="0"
                                        [max]="100"
                                        [step]="5"
                                        (onChange)="onHcSliderChange()"
                                        #hcSlider
                                    ></p-slider>
                                    <div class="slider-values flex-row">
                                        <span>0</span> <span class="mla">100</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-content-box-bottom">
                            <div class="form-content-box-bottom-holder">
                                <div class="form-block">
                                    <p-checkbox
                                        name="automatically_progress_matching_threshold"
                                        binary="true"
                                        label="Automatically progress candidates that meet this threshhold"
                                        formControlName="automatically_progress_matching_threshold"
                                        inputId="automatically_progress_matching_threshold"
                                    ></p-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="stageSettingsForm" *ngIf="stage && stage.id !== 'applied'">
            <div class="form-content-section">
                <div class="description">
                    <strong class="title">Stage Details</strong>
                    <p>Edit your stage name and select an automation action if required.</p>
                </div>
                <div class="form-content-holder">
                    <div class="form-content-box">
                        <div class="form-block">
                            <div class="input-block">
                                <label class="form-block-label">Stage Name</label>
                                <div class="input-holder">
                                    <input
                                        type="text"
                                        class="form-input"
                                        formControlName="title"
                                        maxlength="{{ titleMaxLength }}"
                                        autofocus
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-separator mb20 mt20"></div>
            <div class="form-content-section">
                <div class="description">
                    <strong class="title">Select an Assessment</strong>
                    <p>Select from the list of assessments that the candidate should complete at this stage.</p>
                </div>
                <div class="form-content-holder assessment-holder" formArrayName="assessment">
                    <div
                        class="form-content-box"
                        *ngFor="let ass of stageSettingsForm.controls.assessment.controls; let i = index"
                    >
                        <div class="form-block fdr" [formGroupName]="i">
                            <div class="input-block flex50p">
                                <label class="form-block-label">Assessment Type</label>
                                <div class="input-holder">
                                    <p-dropdown
                                        [options]="assessmentTypeOptions"
                                        formControlName="type"
                                        [style]="{ width: '100%' }"
                                        placeholder="Please select assessment type"
                                    ></p-dropdown>
                                </div>
                            </div>
                            <div class="separator20"></div>
                            <div class="input-block flex50p" *ngIf="ass.get('type').value === 'personality'">
                                <label class="form-block-label">Assessment Benchmark</label>
                                <div class="input-holder">
                                    <p-dropdown
                                        [options]="assessmentBenchmarkOptions"
                                        formControlName="option"
                                        [style]="{ width: '100%' }"
                                        placeholder="Please select assessment benchmark"
                                    ></p-dropdown>
                                </div>
                            </div>
                            <div class="input-block flex50p" *ngIf="ass.get('type').value === 'video-interview'">
                                <label class="form-block-label">Questionnaire</label>
                                <div class="input-holder">
                                    <p-dropdown
                                        [options]="questionnaireOptions"
                                        formControlName="option"
                                        [style]="{ width: '100%' }"
                                        placeholder="Please select questionnaire"
                                    ></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-content-box add-assessment" (click)="onAddAssessment()">
                        <span>+</span> Add another assessment
                    </div>
                </div>
            </div>
            <!-- <div class="form-content-section">
                <div class="description">
                    <strong class="title">Select an Integration (optional)</strong>
                    <p>Select an action for this stage.</p>
                </div>
                <div class="form-content-holder">
                    <div class="form-content-box top-position">
                        <div class="form-content-box-top">
                            <div class="form-content-box-top-holder">
                                <div class="form-block">
                                    <svg
                                        class="search-icon"
                                        width="13px"
                                        height="13px"
                                        viewBox="0 0 13 13"
                                        version="1.1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                    >
                                        <g
                                            id="Recruit-Setup"
                                            stroke="none"
                                            stroke-width="1"
                                            fill="none"
                                            fill-rule="evenodd"
                                        >
                                            <g
                                                id="Default-Screen"
                                                transform="translate(-25.000000, -82.000000)"
                                                fill="#637381"
                                                fill-rule="nonzero"
                                            >
                                                <g id="icons8-search" transform="translate(25.000000, 82.000000)">
                                                    <path
                                                        d="M8.5,0 C6.019531,0 4,2.019531 4,4.5 C4,5.558594 4.382813,6.523438 5,7.292969 L0.023438,12.269531 L0.726563,12.980469 L5.707031,8 C6.476563,8.617188 7.441406,9 8.5,9 C10.980469,9 13,6.980469 13,4.5 C13,2.019531 10.980469,0 8.5,0 Z M8.5,1 C10.4375,1 12,2.5625 12,4.5 C12,6.4375 10.4375,8 8.5,8 C6.5625,8 5,6.4375 5,4.5 C5,2.5625 6.5625,1 8.5,1 Z"
                                                        id="Shape"
                                                    ></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <input type="text" name="search" placeholder="Search for an integration" />
                                </div>
                            </div>
                            <div class="list-searching-wrap">
                                <div class="list-searching">
                                    <div
                                        class="item"
                                        (click)="onActionToggle('spark-hire-video')"
                                        [ngClass]="{ selected: isActionSelected('spark-hire-video') }"
                                    >
                                        <div class="img-block">
                                            <img src="/assets/images/spark.jpg" alt="Spark Hire" />
                                        </div>
                                        <p>Spark Hire</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <ng-container *ngIf="actions">
                <div
                    class="form-content-section"
                    formArrayName="actions"
                    *ngFor="let action of stageSettingsForm.get('actions').controls; let i = index"
                >
                    <div class="description"></div>
                    <div class="form-content-holder" [formGroupName]="i">
                        <ng-container
                            *ngIf="
                                stageSettingsForm.controls.actions.controls[i].controls.type.value ===
                                'spark-hire-video'
                            "
                        >
                            <div class="form-content-box" formGroupName="options">
                                <div class="form-content-box-top">
                                    <div class="form-block">
                                        <div class="selected-integration">
                                            <div class="img-block">
                                                <img src="assets/images/spark.jpg" alt="Spark icon" />
                                            </div>
                                            <div class="title">
                                                Set up <strong>Spark Hire</strong> One-Way Interview
                                            </div>
                                            <button
                                                class="remove"
                                                (click)="
                                                    onDeleteAction(
                                                        stageSettingsForm.controls.actions.controls[i].controls.type
                                                            .value
                                                    )
                                                "
                                            >
                                                <img src="/assets/images/delete_sign.svg" alt="" />
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-block">
                                        <div class="form-block-columns">
                                            <div class="form-block-col">
                                                <div class="input-block">
                                                    <label for="" class="form-block-label">Select a question set</label>
                                                    <p-dropdown
                                                        [options]="questionnaireOptions"
                                                        [style]="{ width: '100%' }"
                                                        placeholder="Please select an option"
                                                        formControlName="questionnaire_id"
                                                    ></p-dropdown>
                                                </div>
                                            </div>
                                            <div class="form-block-col-separator"></div>
                                            <div class="form-block-col">
                                                <div class="input-block">
                                                    <label for="" class="form-block-label">Time allowance</label>
                                                    <p-dropdown
                                                        [options]="allowanceOptions"
                                                        [style]="{ width: '100%' }"
                                                        placeholder="Please select an option"
                                                        formControlName="time_allowance"
                                                    ></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-content-box-bottom">
                                        <div class="form-content-box-bottom-holder">
                                            <div class="form-block">
                                                <p-checkbox
                                                    name="send_reminder_emails"
                                                    binary="true"
                                                    label="Send reminder emails to candidates who have not completed this step."
                                                    formControlName="send_reminder"
                                                ></p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>

            <div class="section-separator mb20 mt20"></div>
            <div class="form-content-section">
                <div class="description">
                    <strong class="title">Acceptace Criteria</strong>
                    <p>Candidates who score above this acceptance critieria will be elegable for consideration</p>
                </div>
                <div class="form-content-holder">
                    <div class="form-content-box">
                        <div class="form-block">
                            <div class="input-block">
                                <label class="form-block-label">Video Interview</label>
                                <div class="hc-slider-block">
                                    <p-slider
                                        styleClass="hc-slider"
                                        formControlName="acceptance_criteria"
                                        [animate]="true"
                                        [min]="0"
                                        [max]="100"
                                        [step]="5"
                                        (onChange)="onHcSliderChange()"
                                        #hcSlider
                                    ></p-slider>
                                    <div class="slider-values flex-row">
                                        <span>0</span> <span class="mla">100</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-content-box-bottom">
                            <div class="form-content-box-bottom-holder">
                                <div class="form-block">
                                    <p-checkbox
                                        name="automatically_progress_meeting_criteria"
                                        binary="true"
                                        label="Automatically progress candidates meet the acceptance criteria"
                                        formControlName="automatically_progress_meeting_criteria"
                                        inputId="automatically_progress_meeting_criteria"
                                    ></p-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </form>
    </div>
</div>
<app-loader *ngIf="contentLoading"></app-loader>
