<div class="tags-block" *ngIf="(candidate.tags || []).length > 0">
    <div
        *ngFor="let tag of candidate.tags || []"
        class="tag"
        [style.background]="tag.color"
        [pTooltip]="titleCase(tag.hash)"
        tooltipPosition="top"
    ></div>
</div>
<div class="candidate-info">
    <div class="ava-column">
        <div class="ava">
            <img [src]="candidate.profile_image_link" alt="profile image" *ngIf="candidate.profile_image_link" />
            <div class="ava-placeholder" *ngIf="!candidate.profile_image_link">
                {{ candidate | initials }}
            </div>
            <div
                class="check-wrapper"
                [ngClass]="{ checked: selected }"
                (click)="onSelectCandidateClick($event, candidate.id)"
            >
                <div class="check-box">
                    <img src="/assets/images/check.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="block-content">
        <strong
            class="title"
            *ngIf="candidate.first_name || candidate.last_name; else noFirstName"
            [ngClass]="{ read: candidate.hasRead }"
        >
            {{ candidate.first_name | titlecase }} {{ candidate.last_name | titlecase }}</strong
        >
        <ng-template #noFirstName>
            <strong class="title" [ngClass]="{ read: candidate.hasRead }">{{ candidate.email }}</strong>
        </ng-template>
        <span class="position" *ngIf="candidate.employment_history"
            >{{ candidate.employment_history.title | titlecase }}
            @
            {{ candidate.employment_history.company | titlecase }}</span
        >
        <span class="position" *ngIf="!candidate.employment_history">Unknown</span>
    </div>
</div>
<div class="candidate-footer">
    <div class="candidate-footer-holder">
        <div class="block">
            <div class="icon-holder" [attr.data-score]="candidate.score" [ngClass]="candidate.complianceRateClass">
                <div class="status-icon success">
                    <div class="holder"></div>
                </div>
                <div class="status-icon acceptable">
                    <div class="holder"></div>
                </div>
                <div class="status-icon error">
                    <div class="holder"></div>
                </div>
                <div class="status-icon warning">
                    <div class="holder">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="fill"></div>
                        <div class="mark"></div>
                    </div>
                </div>
                <div class="status-icon empty">
                    <div class="holder"></div>
                </div>
                <div class="status-icon auto-applied">
                    <div class="holder"></div>
                </div>
            </div>
            <span class="block-title">AI Matching</span>
        </div>
        <div class="block-separator"></div>
        <div class="block" *ngIf="candidate.hasQuestionnaire">
            <div class="icon-holder" [ngClass]="candidate.questionsClass">
                <div class="status-icon success">
                    <div class="holder"></div>
                </div>
                <div class="status-icon acceptable">
                    <div class="holder"></div>
                </div>
                <div class="status-icon error">
                    <div class="holder"></div>
                </div>
                <div class="status-icon warning">
                    <div class="holder">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="fill"></div>
                        <div class="mark"></div>
                    </div>
                </div>
                <div class="status-icon empty">
                    <div class="holder"></div>
                </div>
            </div>
            <span class="block-title">Questions</span>
        </div>
        <div class="block-separator" *ngIf="candidate.hasQuestionnaire"></div>
        <div class="block">
            <div class="icon-holder" [ngClass]="candidate.currentStageClass">
                <div class="status-icon success">
                    <div class="holder"></div>
                </div>
                <div class="status-icon acceptable">
                    <div class="holder"></div>
                </div>
                <div class="status-icon error">
                    <div class="holder"></div>
                </div>
                <div class="status-icon warning">
                    <div class="holder">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="fill"></div>
                        <div class="mark"></div>
                    </div>
                </div>
                <div class="status-icon empty">
                    <div class="holder"></div>
                </div>
            </div>
            <span class="block-title">This Stage</span>
        </div>
    </div>
</div>
