@import 'variables';

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    background: $white;
    box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.1);
    margin-bottom: 10px;
    padding: 8px 10px 9px;
    position: relative;
    transition: all 0.4s ease;
    overflow: hidden;
    // height: 75px;

    &:hover {
        cursor: pointer;

        .ava .check-wrapper {
            display: flex;
        }
    }

    &:active {
        // background: darken($white, 4%);
    }

    &.dragged {
        background: rgba($color: #3bb273, $alpha: 0.2);
        box-shadow: none;

        & > * {
            opacity: 0;
        }
    }

    .tags-block {
        height: 10px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin-bottom: 10px;

        .tag {
            width: 40px;
            height: 100%;
            border-radius: 5px;
            margin-right: 10px;
        }
    }

    .candidate-footer {
        display: flex;
        font-size: 10px;
        text-transform: uppercase;
        justify-content: space-between;
        line-height: 11px;
        margin-top: 12px;
        color: $grey;

        .score,
        .stage {
            display: flex;
            align-items: center;
        }

        .compliance-rate {
            margin-left: 8px;
            width: 10px;
            height: 10px;
            border-radius: 50%;

            &.orange {
                background: $orange;
            }

            &.green {
                background: $pink;
            }

            &.red {
                background: $red;
            }

            &.grey {
                background: $grey3;
            }
        }
    }
}

.candidate-info {
    display: flex;
    align-items: center;
    margin-top: 4px;
    width: 100%;
}

.ava-column {
    margin-right: 7px;
}

.ava {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $grey-border;
    overflow: hidden;
    position: relative;

    img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0;
    }

    .check-wrapper {
        background-color: $pink;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        display: none;
        align-items: center;
        justify-content: center;

        &.checked {
            display: flex;

            .check-box {
                background-color: $white;

                img {
                    opacity: 1;
                }
            }
        }

        .check-box {
            background-color: transparent;
            border: 1px solid $white;
            border-radius: 2px;
            width: 14px;
            height: 14px;
            transition: all 0.3s;

            img {
                opacity: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.ava-placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: $font-size-origin;
    color: $main-blue;
}

.block-content {
    flex: 1;
    overflow: hidden;
}

.title {
    color: $pink;
    display: block;
    font-size: $font-size-origin;
    font-weight: normal;
    line-height: 16px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 38px);

    &.read {
        color: $main-blue;
    }
}

.position {
    display: block;
    font-size: 11px;
    line-height: 13px;
    color: $grey;
    margin: 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.stats-actions-block {
    display: flex;
    flex-direction: row;
    padding: 2px 0 0;
    font-size: 10px;
    color: $grey;

    .actions {
        display: flex;
        align-items: center;

        .icon-btn {
            display: flex;
        }
    }
}

.text-with-icon {
    .icon {
        margin: 0 5px 0 0;
    }
}

.warning-block {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    color: $white;
    text-align: center;
    border-radius: 5px 0 0 0;
    z-index: 1;

    .warning-block-holder {
        width: 28px;
        height: 28px;
        position: relative;

        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 28px 28px 0 0;
            border-color: $orange transparent transparent transparent;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &.alert {
        .warning-block-holder {
            &:before {
                border-color: $red transparent transparent transparent;
            }
        }
    }

    span {
        position: absolute;
        left: 7px;
        top: 0;
    }
}
