<div class="auth-header-block">
    <h2>{{ passwordResetLinkSent ? 'Check Your Email' : 'Forgot Password' }}</h2>
</div>
<div class="auth-block-content">
    <ng-container *ngIf="passwordResetLinkSent">
        <p>
            We’re just sent a reset link to <strong>{{ resetForm.get('email').value }}</strong
            >. It will expire shortly so check back soon
        </p>
    </ng-container>
    <ng-container *ngIf="!passwordResetLinkSent">
        <form [formGroup]="resetForm">
            <p>
                To reset your password, enter the email address you use to sign in to <strong>{{ siteUrl }}</strong>
            </p>
            <ng-container *ngIf="msgs.length">
                <div class="error-block" *ngFor="let msg of msgs">
                    <span class="error-icon"></span>
                    <p>{{ msg.detail || 'Email not found.' }}</p>
                </div>
            </ng-container>
            <div class="form-row">
                <input
                    name="email"
                    formControlName="email"
                    class="form-input"
                    type="email"
                    placeholder="Email Address"
                />
            </div>
            <div class="form-row">
                <button class="btn sign-in" (click)="onReset($event)" type="submit">GET RESET LINK</button>
            </div>
        </form>
    </ng-container>
</div>
<app-loader *ngIf="contentLoading"></app-loader>
