<div class="form-block">
    <div class="select-item" *ngIf="!newItemMode">
        <div class="select-dd">
            <div class="selected-row">
                <span class="placeholder">Add to this position</span>
                <span class="caret"><span class="caret-holder"></span></span>
                <div class="click-overlay" (click)="onMenuToggle()"></div>
            </div>
            <div class="select-dd-menu" *ngIf="menuIsVisible">
                <div class="menu-item" 
                    *ngFor="let item of _items" 
                    (click)="onSelectItem(item)"
                    [ngClass]="{'selected': item.selected}"
                >{{item.first_name}}</div>
                <div class="menu-items-separator"></div>
                <div class="menu-item" (click)="onAddNewClick()">+ Add new</div>
            </div>
        </div>
    </div>
    <div class="new-item" *ngIf="newItemMode">
        <form [formGroup]="newUserForm" class="flex-row flex-aic pos-rel">
            <input type="text" class="form-input" placeholder="Full Name" formControlName="full_name">
            <input type="text" class="form-input ml20" placeholder="Email Address" formControlName="email">
            <button class="btn btn-primary w60 ml20" (click)="onAddNewItem($event)">Add</button>
            <button class="btn btn-primary-inversed btn-w60 ml20" (click)="onCancelAddNewItem($event)">Cancel</button>
            <div class="light-overlay" *ngIf="contentLoading"></div>
        </form>
    </div>
</div>
<div class="form-content-box-bottom" *ngIf="selectedItems && selectedItems.length">
    <div class="form-content-box-bottom-holder">
        <div class="selected-items-block">
            <div class="selected-items-holder">
                <div class="selected-item-holder" *ngFor="let item of selectedItems">
                    <div class="selected-item">
                        <div class="selected-item-icon">
                            <img src="{{item.icon_url_small}}" alt="" *ngIf="item.icon_url_small" width="30" height="30">
                        </div>
                        <div class="selected-item-name">
                            {{item.first_name}} {{item.last_name}}
                        </div>
                        <div class="selected-item-actions">
                            <span class="close-icon">
                                <img src="/assets/images/close.svg" alt="Remove from selected" width="12" height="12" (click)="onRemoveFromSelected(item)">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
