<div class="dropzone" appDragEnter (dropFile)="onDropFile($event)"></div>
<div class="content" appDragEnter (dropFile)="onDropFile($event)">
    <h2>Add candidate</h2>
    <form [formGroup]="form">
        <div class="emails-block" formArrayName="emails">
            <div class="email-block" *ngFor="let emailInput of emailInputs.controls; let i = index">
                <input
                    type="text"
                    class="form-input"
                    placeholder="Enter an email address and hit enter"
                    (keydown)="onEmailInputKeydown($event, emailInput)"
                    [formControlName]="i"
                />
                <div class="light-overlay" *ngIf="emailInput.pendingRequest"></div>
                <div
                    class="status-circle"
                    [ngClass]="{
                        success: emailInput.requestStatus === 'success',
                        warning: emailInput.requestStatus === 'warning'
                    }"
                >
                    <img class="success-img" src="/assets/images/check.svg" alt="" width="18" height="14" />
                    <img class="warning-img" src="/assets/images/exclamation-mark.svg" alt="" width="6" height="17" />
                </div>
                <div class="error-block" *ngIf="emailInput.requestError">{{ emailInput.requestError }}</div>
            </div>
        </div>
        <div class="separator-block"><div class="separator-text">OR</div></div>
        <div class="cvs-block">
            <div
                class="cv-block-wrapper"
                *ngFor="let uploadItem of uploadQueue"
                [ngClass]="{ fadeout: uploadItem.fadeout }"
            >
                <div class="cv-block">
                    <app-file-type [type]="uploadItem.file.type"></app-file-type>
                    <div class="text" *ngIf="!uploadItem.missingEmail">{{ uploadItem.text }}</div>
                    <form
                        class="missing-email-form"
                        *ngIf="uploadItem.missingEmail"
                        #missingEmail="ngForm"
                        (ngSubmit)="onMissingEmailSumbit($event, uploadItem)"
                    >
                        <input
                            type="text"
                            name="email"
                            [placeholder]="uploadItem.text"
                            [(ngModel)]="uploadItem.email"
                            required
                            email
                        />
                        <label>{{ uploadItem.file.name }}</label>
                        <div class="light-overlay" *ngIf="uploadItem.uploadStarted && !uploadItem.uploadFinished"></div>
                    </form>
                    <app-progress-circle
                        class="mla"
                        [progress]="uploadItem.progress"
                        *ngIf="uploadItem.uploadStarted && !uploadItem.uploadFinished"
                    ></app-progress-circle>
                    <div
                        class="status-circle mla"
                        [ngClass]="{
                            success: uploadItem.uploadFinished && uploadItem.success,
                            warning: uploadItem.uploadFinished && !uploadItem.success
                        }"
                    >
                        <img class="success-img" src="/assets/images/check.svg" alt="" width="18" height="14" />
                        <img
                            class="warning-img"
                            src="/assets/images/exclamation-mark.svg"
                            alt=""
                            width="6"
                            height="17"
                        />
                    </div>
                </div>
            </div>

            <div class="upload-block">
                <div class="drop-zone mb10">
                    <div class="upload-text">Drop document or <label for="uploader">click to upload</label></div>
                    <input
                        class="file"
                        type="file"
                        name=""
                        id="uploader"
                        formControlName="file"
                        (change)="onDropFile($event)"
                    />
                </div>
                <div class="error-message" *ngIf="uploadError">{{ uploadError }}</div>
            </div>
        </div>
        <div class="blocks-separator mb20"></div>
        <!-- <div class="form-row mb20">
            <p-checkbox
                name="send_email"
                binary="true"
                label="Send candidates an email should further information be required"
                labelStyleClass="color-grey"
                formControlName="send_email"
                inputId="send_email"
            ></p-checkbox>
        </div> -->
        <div class="btn-holder flex-row">
            <button class="btn btn-primary w140 mla" (click)="onFinishClicked($event)">Finish</button>
        </div>
    </form>
</div>
