<app-loader *ngIf="contentLoading"></app-loader>
<form [formGroup]="ssoForm" autocomplete="off">
    <p-messages [(value)]="msgs"></p-messages>
    <h1>Sign in with Single Sign-On</h1>
    <p>Your SSO email or domain</p>

    <div class="hc-form-row">
        <input
            formControlName="company"
            name="company"
            class="form-input"
            placeholder="name@company.com or company.com"
        />
    </div>
    <div class="form-bottom">
        <button class="btn btn-primary fwidth" [disabled]="!ssoForm.valid" (click)="onssoSignIn($event)" type="submit">
            SIGN IN
        </button>
    </div>
</form>
