<div class="auth-page tenats-auth">
    <div class="auth-wrapper">
        <div class="auth-login animated fadeIn">
            <div class="auth-container">
                <div class="auth-container-frame">
                    <div class="left-block">
                        <div class="inner-block">
                            <div class="logo-holder">
                                <div class="logo" routerLink="/">
                                    <img src="/assets/images/hire-logo.svg" alt="HelloCrowd" width="115" height="44" />
                                </div>
                            </div>
                            <h2>Set New Password</h2>
                        </div>
                    </div>
                    <div class="main-block">
                        <div class="inner-block">
                            <form [formGroup]="setPasswordForm">
                                <p-messages [(value)]="msgs"></p-messages>
                                <div class="section-content">
                                    <div class="hc-form-row">
                                        <input
                                            name="password"
                                            formControlName="password"
                                            class="form-input"
                                            type="password"
                                            placeholder="Password"
                                        />
                                    </div>
                                    <div class="hc-form-row">
                                        <input
                                            name="confirm_password"
                                            formControlName="confirm_password"
                                            class="form-input"
                                            type="password"
                                            placeholder="Confirm Password"
                                        />
                                        <div
                                            class="error-message"
                                            *ngIf="
                                                setPasswordForm.controls.confirm_password.errors?.MatchPassword &&
                                                setPasswordForm.controls.confirm_password.touched
                                            "
                                        >
                                            Password does not match
                                        </div>
                                    </div>
                                    <div>
                                        <div class="checkbox-holder">
                                            <p-checkbox
                                                name="agreed"
                                                formControlName="agreed"
                                                inputId="agreed"
                                                binary="true"
                                            ></p-checkbox>
                                            <label for="agreed"
                                                >I agree to HelloCrowd’s
                                                <a href="https://hellocrowd.net/#terms-of-service">Terms of Services</a>
                                                and <a href="https://hellocrowd.net/#privacy-policy">Privacy Policy</a>
                                            </label>
                                        </div>
                                        <div
                                            class="error-message"
                                            *ngIf="
                                                !setPasswordForm.get('agreed').valid &&
                                                setPasswordForm.get('agreed').touched
                                            "
                                        >
                                            You need to agree to HelloCrowd's Terms of Services and Privacy Policy
                                        </div>
                                    </div>
                                    <div class="flex-row form-bottom">
                                        <button class="btn btn-primary mla" (click)="onSubmit($event)" type="submit">
                                            Continue
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
