@import 'variables';

:host {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;

    img {
        display: block;
        width: 30px;
        height: 30px;
    }

    .file-type-text {
        position: absolute;
        right: 3px;
        bottom: 5px;
        color: $white;
        font-size: 8px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
