<div class="form-section-header">
    <h2 class="form-section-title">Submit for Approval <img src="/assets/images/icons-refresh.svg" alt="" /></h2>
    <h4 class="form-section-subtitle">Agency Application Form</h4>
</div>
<div class="content-bordered-box">
    <h3 class="content-box-title">Your recruiter application is waiting for approval</h3>
    <p>
        We are reviewing your application and verifying your documents. This process usually takes between 1 to 3
        business days and you will be notified my email once accepted.
    </p>
</div>
