<div class="auth-page tenats-auth">
    <div class="auth-wrapper">
        <div class="auth-login animated fadeIn">
            <div class="auth-container">
                <div class="auth-container-frame">
                    <div class="left-block">
                        <div class="inner-block">
                            <div class="logo-holder">
                                <div class="logo" routerLink="/dashboard">
                                    <img src="/assets/images/hire-logo.svg" alt="HelloCrowd" width="115" height="44">
                                </div>
                            </div>
                            <h2>Let’s get you signed up</h2>
                            <div class="quote-block">
                                <p>“Hire has fundimentally changed the way re recruit at Dimention Data. We’re filling
                                    positions in a
                                    quarter of
                                    the
                                    time
                                    and making more objective tallent decisions”</p>
                                <div class="quote-author">
                                    <div class="img">
                                        <img src="/assets/images/genmckay.png" alt="Gen Mckay" width="58" height="59">
                                    </div>
                                    <div class="text">
                                        <strong>Gen Mckay</strong> - Head of Tallent Aquisition
                                        Dimension Data Middle EAst Africa
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-block">
                        <app-loader *ngIf="contentLoading"></app-loader>
                        <div class="inner-block">
                            <ng-container *ngIf="step === 'first'">
                                <button class="signin-btn" (click)="onSignUpWithGoogle()">
                                    <div class="abcRioButtonIcon" style="padding:6px">
                                        <div style="width:26px;height:26px;"
                                            class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
                                            <img src="/assets/images/google.svg" alt="Google icon" width="26" height="26">
                                        </div>
                                    </div>
                                    <span class="text">Sign up with Google</span>
                                </button>
                                <form [formGroup]="nameForm">
                                    <p-messages [(value)]="msgs"></p-messages>
                                    <div class="separator">
                                        <span class="separator-text">OR</span>
                                    </div>
                                    <div class="section-content">
                                        <div class="hc-form-row">
                                            <input name="name" formControlName="name" class="form-input" type="text"
                                                placeholder="Full Name">
                                        </div>
                                        <div class="hc-form-row">
                                            <input name="email" formControlName="email" class="form-input" type="email"
                                                placeholder="Email address">
                                        </div>
                                        <div class="hc-form-row password-row">
                                            <input name="password" formControlName="password" type="password"
                                                class="form-input" placeholder="Enter a password">
                                        </div>
                                        <div class="flex-row form-bottom">
                                            <p class="attention">* We will never share your details with anyone</p>
                                            <button class="btn btn-primary mla" [disabled]="!nameForm.valid"
                                                    (click)="onSecondStep()" type="button">Next
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </ng-container>
                            <ng-container *ngIf="step === 'second'">
                                <form [formGroup]="companyWebsite">
                                    <div class="hc-form-row">
                                        <input name="email-company" formControlName="url" class="form-input" type="email"
                                            placeholder="Enter your company website - (i.e. www.yourcompany.com)">
                                    </div>
                                    <div class="flex-row form-bottom">
                                        <button class="btn btn-primary mla" [disabled]="!companyWebsite.valid"
                                                (click)="onThirdStep()" type="button">Next
                                        </button>
                                    </div>
                                </form>
                            </ng-container>
                            <ng-container *ngIf="step === 'third'">
                                <form [formGroup]="companyData">
                                    <div class="hc-form-row">
                                        <input  formControlName="company_website_url" class="form-input" type="text"
                                            placeholder="Company URL">
                                    </div>
                                    <div class="hc-form-row">
                                        <input name="name-company" formControlName="company_name" class="form-input" type="email"
                                            placeholder="Company Name">
                                    </div>
                                    <div class="hc-form-row">
                                        <p-dropdown [options]="countryTypeOptions" formControlName="country_code"
                                                    [style]="{'width':'100%'}" (onChange)="onChangeCountry($event)"
                                                    placeholder="Please select country"></p-dropdown>
                                    </div>
                                    <div class="hc-form-row">
                                        <p-dropdown [options]="employeesTypeOptions"
                                                    formControlName="employees" [style]="{'width':'100%'}"
                                                    placeholder="Number of employees"></p-dropdown>
                                    </div>
                                    <div class="flex-row form-bottom">
                                        <div class="checkbox-holder">
                                            <p-checkbox name="agreed" formControlName="agreed" value="true"
                                                        inputId="agreed"></p-checkbox>
                                            <label for="agreed">I agree to HelloCrowd’s <a
                                                    href="https://hellocrowd.net/#terms-of-service">Terms
                                                of
                                                Services</a> and <a href="https://hellocrowd.net/#privacy-policy">Privacy
                                                Policy</a></label>
                                        </div>
                                        <button class="btn btn-primary mla" (click)="onFinishRegistration()" [disabled]="!companyData.valid" type="button">
                                            Finish
                                        </button>
                                    </div>
                                </form>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>