@import 'variables';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: $main-background;
    color: $main-blue;
    font: $font-size-origin 'Roboto', Helvetica, Arial, sans-serif;
    line-height: 1.538;
}

html,
body {
    height: 100%;
}

a,
.hc-link {
    color: $pink;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
        text-decoration: underline;
        color: $pink;
        cursor: pointer;
    }

    &:active {
        text-decoration: none;
        color: darken($pink, 20%);
    }

    &.und {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

$steps: 3 4 5 6 8 10 15 20 25 30 33 35 40 45 50 60 75;

@each $step in $steps {
    .flex-#{$step} {
        flex: 1 1 #{$step + '%'};
        max-width: #{$step + '%'};
        max-height: 100%;
    }
}

.danger {
    color: $pink;
}

[hidden] {
    display: none !important;
}

.fdr {
    display: flex;
    flex-direction: row;
}

.f1 {
    flex: 1;
}

.flex50p {
    width: 50%;
}

.fdc {
    display: flex;
    flex-direction: column;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.separator20 {
    width: 20px;
    height: 1px;
}

// Container
.container {
    width: 100%;
    margin: 0 auto;
}

.fixed-width-container {
    max-width: 1140px;
}

.title-block {
    padding: 20px 0 20px;
    position: relative;

    .page-title {
        font-size: 25px;
        line-height: 1.32;
        font-weight: bold;
        margin: 0;
    }

    .controls-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 0 0;
    }

    .control-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $grey;
        font-size: $font-size-origin;
        line-height: 1.357;
        margin: 0 15px;

        .icon {
            font-size: 0;
            display: inline-block;
            margin: 0 6px 0 0;
        }

        &:first-child {
            margin: 0;
        }

        &:hover {
            color: darken($grey, 10%);
            cursor: pointer;

            svg {
                path {
                    fill: darken($grey, 10%);
                }
            }
        }

        &:active {
            color: lighten($grey, 10%);
            cursor: pointer;

            svg {
                path {
                    fill: lighten($grey, 10%);
                }
            }
        }
    }

    .total-amount {
        display: inline-block;
        margin: 0 0 0 40px;
        font-size: $font-size-origin;
    }

    .controls-separator {
        width: 1px;
        height: 25px;
        background: $grey;
    }

    .buttons-holder {
        width: auto;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.section-separator {
    width: 100%;
    height: 1px;
    background: $grey-border;
}

.placeholder-block {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0;

    .text-block {
        flex: 1;
        padding: 30px 80px 0 0;

        .block-title {
            font-size: 33px;
            line-height: 1.333;
            margin: 0 0 24px;
        }

        .placeholder-content {
            font-size: $font-size-origin;
            line-height: 1.571;
            color: $grey;
            padding: 0 80px 40px 0;

            p {
                margin: 0;
            }
        }
    }

    .upload-block {
        width: 451px;
        height: 302px;
        background: url(/assets/images/list-placeholder.png) no-repeat 100% 100%;
        background-size: 451px 302px;
        padding: 60px 100px 40px 20px;

        .upload-block-holder {
            width: 190px;
            text-align: center;
            padding: 40px 0 60px;

            &:hover {
                cursor: pointer;
            }
        }

        .icon-holder {
            text-align: center;
            font-size: 0;
            margin: 0 0 16px;

            img {
                display: inline-block;
                margin: 0;
            }
        }

        .title-text {
            display: block;
            color: $grey;
            font-size: 12px;
        }

        .subtitle-text {
            display: block;
            color: $pink;
            font-size: 12px;
        }
    }
}

.info-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0;

    .info-icon {
        margin: 0 20px 0 0;
    }
}

.info-icon {
    width: 20px;
    height: 20px;
    background: $grey;
    color: $white;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}

.buttons-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

// Buttons
.btn {
    display: inline-block;
    font-size: $font-size-origin;
    line-height: 1.846;
    font-weight: 400;
    padding: 5px;
    box-shadow: none;
    background: none;
    border: 1px solid transparent;
    text-align: center;
    outline: 0;
    transition: all 0.2s ease;
    border-radius: 3px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }

    &.fw {
        width: 100%;
    }

    &.w140 {
        width: 140px;
        min-width: 140px;
    }

    &.w120 {
        width: 120px;
        min-width: 120px;
    }

    &.w60 {
        width: 60px;
        min-width: 60px;
    }

    &.btn-primary {
        color: $white;
        background: $pink;
        border-color: $pink;

        &:hover {
            background: darken($pink, 10%);
        }

        &:active {
            background: lighten($pink, 10%);
        }
    }

    &.btn-primary-inversed {
        color: $pink;
        background: transparent;
        border-color: $pink;

        &:hover {
            color: $white;
            background: $pink;
        }

        &:active {
            color: $white;
            background: lighten($pink, 10%);
        }
    }

    &.btn-icon {
        color: $pink;
        border: 0;
        background: transparent;
        outline: 0;
        box-shadow: none;
        display: flex;
        flex-direction: row;
        align-items: center;

        .icon {
            width: 15px;
            height: 15px;
            margin: 0 10px 0 0;
        }

        &:hover {
            color: darken($pink, 10%);
        }

        &:active {
            color: lighten($pink, 10%);
        }
    }

    &.btn-dash-bordered {
        height: 36px;
        border: 1px dashed $grey-border;
        background: none !important;
    }

    &.btn-bordered {
        background: transparent;
        color: #fff;
        height: 46px;
        font-size: $font-size-origin;
        line-height: 2.57;
        padding: 4px 5px;
        color: $green;
        border: 1px solid $green;
        transition: all 0.3s ease;

        &:active {
            color: #fff;
            background: lighten($green, 10%);
        }
    }

    &.btn-colored {
        // background: transparent;
        color: #fff;
        height: 46px;
        font-size: $font-size-origin;
        line-height: 2.57;
        padding: 5px;
        color: $green;
    }

    &.btn-dark {
        background: $dark;
        color: #fff;
        height: 46px;
        font-size: $font-size-origin;
        line-height: 2.57;

        &:hover {
            color: #fff;
            background: darken($dark, 10%);
        }

        &:active {
            background: lighten($dark, 5%);
        }
    }
}

.btn-round {
    display: flex;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    background: $sapphire-blue;
    padding: 0;

    img {
        display: block;
        margin: 0;
    }

    &:hover {
        cursor: pointer;
        background: darken($sapphire-blue, 10%);
    }

    &:active {
        background: lighten($pink, 10%);
    }

    &.btn-grey {
        background: $light-grey;

        &:hover {
            background: darken($light-grey, 5%);
        }

        &:active {
            background: lighten($light-grey, 5%);
        }
    }
}

.btn-square {
    display: flex;
    width: 29px;
    height: 29px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    line-height: 29px;
    background: $pink;

    img {
        display: block;
        margin: 0;
    }

    &:hover {
        cursor: pointer;
        background: darken($pink, 10%);
    }

    &:active {
        background: lighten($pink, 10%);
    }
}

.icon-btn {
    display: inline-block;

    &:hover {
        cursor: pointer;
    }
}

.text-with-icon {
    .icon {
        margin: 0 12px 0 0;
    }

    p {
        margin: 0;
    }
}

body p-selectbutton {
    .ui-selectbutton {
        .ui-button {
            border: 0;
            outline: 0;
            box-shadow: none;

            &.ui-state-default {
                border: 0;
                background: $light;
            }

            &.ui-state-active {
                background: $pink;
                outline: 0;
                color: $white;
                box-shadow: none !important;

                &:hover {
                    background: $pink;
                }

                &:focus {
                    box-shadow: none;
                    outline: 0;
                }
            }
        }

        .ui-button:nth-child(1) {
            border-radius: 5px 0 0 5px;
        }

        .ui-button:nth-child(2) {
            &.ui-state-active {
                background: $pink;

                &:hover {
                    background: $pink !important;
                    border-color: $pink !important;
                }
            }
        }

        .ui-button:nth-child(3) {
            border-radius: 0 5px 5px 0;

            &.ui-state-active {
                background: $red;

                &:hover {
                    background: $red !important;
                    border-color: $red !important;
                }
            }
        }
    }
}

.light-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.blocks-separator {
    width: 100%;
    height: 1px;
    background: $grey-border;
    overflow: hidden;
    position: relative;
}

// Margins, paddings, alignments
.pos-rel {
    position: relative;
}

.tal {
    text-align: left;
}

// margins
.mla {
    margin-left: auto;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mb0 {
    margin-bottom: 0;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}

.pl30 {
    padding-left: 30px;
}

.mh500 {
    min-height: 500px;
}

.mw33p {
    max-width: 33.3333%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-aic {
    align-items: center;
}

.tac {
    text-align: center;
}

[hidden] {
    display: none !important;
}

.red-bg {
    background: $red !important;
}

.green-bg {
    background: $light-green !important;
}

.orange-bg {
    background: $orange !important;
}

.red-color {
    color: $red !important;
}

.green-color {
    color: $light-green !important;
}

.orange-color {
    color: $orange !important;
}

// Status indicator
.status {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: $grey;
    border-radius: 50%;

    &.live {
        background: #41eaaf;
    }

    &.build {
        background: #d8d8d8;
    }
}

// Drop-downs
.status-dd-no-borders {
    .ui-dropdown .ui-dropdown-label {
        border: 0 !important;
        padding: 9px 12px 9px 10px !important;
    }
}

.status-dd.caret-down {
    .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon:before {
        display: none;
    }

    .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon:after {
        bottom: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.status-circle {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 36px;
    height: 36px;
    border: 3px solid transparent;
    border-radius: 50%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    z-index: 2;

    img {
        display: none;
    }

    &.success {
        display: flex;
        border-color: $dark-green;

        .success-img {
            display: block;
        }
    }

    &.warning {
        display: flex;
        border-color: $orange2;

        .warning-img {
            display: block;
        }
    }
}

.ui-slider {
    .ui-slider-handle {
        border: 0 !important;
    }
}

// Slider candidate-item
.overall-rating {
    p-slider {
        margin: 18px 0 16px;
        display: block;
    }

    .ui-slider {
        background: $light-grey;
        height: 3px;
        border-radius: 50px;
        box-shadow: none;

        .ui-slider-handle {
            width: 16px !important;
            height: 16px !important;
            background: $pink;
            border-radius: 50%;
            top: -6px !important;
            cursor: pointer;
            border: 0 !important;
        }

        .ui-slider-range {
            background: $pink;
            height: 7px !important;
            top: -2px !important;
            box-shadow: none !important;
        }
    }
}

.owner-disabled,
.not-rating-disabled {
    .overall-rating .ui-slider .ui-slider-range {
        background: grey;
    }

    .overall-rating .ui-slider .ui-slider-handle {
        background: grey;
    }
}

// Colorpicker
.color-picker {
    top: -148px !important;
    border-color: #d7dbdf !important;

    .arrow.arrow-top {
        display: none;
    }

    .hex-text {
        display: none !important;
    }

    .hue-alpha {
        padding: 0 !important;
        margin: 0 !important;

        .left {
            display: none;
        }

        .right {
            padding: 0;

            & > div:first-child {
                display: none;
            }
        }

        .hue {
            margin: 0;
        }
    }

    .box {
        padding: 0 !important;
    }

    .type-policy {
        display: none;
    }
}

p-chips {
    .ui-inputtext.ui-state-default.ui-corner-all {
        border: 1px solid $pink;
        background: $white;
        width: 100%;
        min-height: 36px;
        border-radius: 2px;
        color: $main-blue;
        font-size: $font-size-origin;
        line-height: 16px;
        padding: 2px 2px 2px 4px;
        border-radius: 3px;
        box-shadow: none;
        outline: none;

        &:hover {
            border: 2px solid $pink;
        }
    }

    .ui-chips-input-token input {
        height: 24px;
    }

    .ui-chips-token {
        padding: 5px;
        margin-bottom: 1px;

        &.ui-state-highlight {
            font-size: $font-size-origin;
            color: $black;
            background: $light-grey;
        }

        .ui-chips-token-icon {
            width: 10px;
            height: 10px;
            margin-top: -5px;
            right: 5px;

            &:before {
                content: '';
                position: absolute;
                left: -2px;
                top: 5px;
                width: 14px;
                height: 1px;
                background: $black;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                position: absolute;
                left: -2px;
                top: 5px;
                width: 14px;
                height: 1px;
                background: $black;
                transform: rotate(-45deg);
            }
        }
    }
}

.editors-container {
    width: 100%;
    position: relative;
    z-index: 1;
    border: 1px solid $grey-border;
    border-radius: 3px;
    padding: 42px 0 0;

    .ql-editor {
        padding: 10px;
    }

    .ql-editor p,
    .ql-editor ol,
    .ql-editor ul,
    .ql-editor pre,
    .ql-editor blockquote,
    .ql-editor h1,
    .ql-editor h2,
    .ql-editor h3,
    .ql-editor h4,
    .ql-editor h5,
    .ql-editor h6 {
        color: #000000 !important;
    }

    .ql-toolbar.ql-snow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border: 0;
        z-index: 2;
    }

    .editor-title {
        display: block;
        font-size: $font-size-origin;
        font-weight: 700;
        color: $pink;
        padding: 10px;
        margin: 0;
    }

    .active {
        .ql-toolbar.ql-snow {
            z-index: 5;
        }
    }

    .ql-toolbar.ql-snow + .ql-container.ql-snow {
        border: 0;
        min-height: 150px !important;
        font-size: $font-size-origin;
    }
}

.content-bordered-box {
    background: #fff;
    border-top: 6px solid #ff9500;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 25px 30px;

    .content-box-title {
        display: block;
        font-size: 20px;
        line-height: 1.1;
        color: #424e58;
        margin: 0 0 10px;
    }

    p {
        margin: 0;
    }
}

.ui-inputtext.ui-state-focus,
.ui-inputtext:focus {
    box-shadow: none;
}

.ui-chkbox .ui-chkbox-icon {
    padding: 2px 0 0;
}

.job_desc {
    width: 350px;
    height: 38px;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #d8d8d8 !important;
    background-color: #ffffff;

    // margin-top: -6px;
    margin-right: 0px !important;
    margin-left: 18px;

    p-dropdown {
        .ui-dropdown {
            &.ui-dropdown-open {
                .ui-dropdown-label {
                    border: 0px solid #d8d8d8;
                    padding: 9px 12px 9px 10px;
                    transition: none;
                }
            }

            .ui-dropdown-label {
                border: 0px solid $grey-border;
            }
        }
    }
}

.btn-align {
    margin-top: -20px;
}

.fill-black {
    svg {
        g {
            g {
                fill: #000;
            }
        }
    }
}

.ui-widget-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.decline-modal {
    .ui-dialog.ui-widget {
        border: none;
        border-radius: 5px;

        .ui-dialog-content {
            overflow: visible;
            padding: 0;

            .p-header {
                background: $red;
                border-radius: 5px 5px 0 0;
                color: white;
                font-size: 17px;
                line-height: normal;
                padding: 24px;

                svg {
                    margin-right: 9px;
                }
            }

            .p-body {
                max-width: 500px;
                padding: 18px 20px 30px;

                p {
                    color: $black;
                    font-size: $font-size;
                    line-height: normal;
                    margin-bottom: 15px;
                }

                .action {
                    display: flex;

                    .input-block {
                        width: 100%;
                    }

                    .ui-dropdown {
                        .ui-dropdown-label {
                            border-color: $red;
                        }

                        .ui-dropdown-panel .ui-state-highlight {
                            background-color: $red;
                        }
                    }
                }

                .btn {
                    background-color: $pink;
                    border: 0;
                    color: $white;
                    cursor: pointer;
                    font-size: $font-size-low;
                    height: 36px;
                    line-height: 15px;
                    margin-left: 12px;
                    flex: 0 0 125px;

                    &:hover {
                        background: darken($pink, 10%);
                    }

                    &.danger {
                        background-color: $red;

                        &.outline {
                            background-color: $white;
                            border: 1px solid $red;
                            color: $red;

                            &:hover {
                                background: darken($white, 10%);
                            }
                        }

                        &:hover {
                            background: darken($red, 10%);
                        }
                    }

                    &[disabled] {
                        cursor: not-allowed;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

.email-modal {
    -webkit-user-drag: none;

    .ui-dialog.ui-widget {
        border: none;
        border-radius: 5px;

        .ui-dialog-content {
            padding: 0;

            .p-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px 30px;
                background-color: $pink;
                color: white;
                font-size: 17px;

                button {
                    background: white;
                    border-radius: 3px;
                    color: $pink;
                    font-size: $font-size-low;
                    line-height: normal;
                    padding: 10px 11px 11px;
                    width: 125px;
                }
            }

            .p-body {
                padding: 10px 30px;

                .form-control {
                    display: grid;
                    grid-template-columns: 80px 500px;

                    .label {
                        color: $main-blue;
                        font-size: $font-size;
                        font-weight: bold;
                        line-height: normal;
                        padding-top: 18px;

                        &.subject {
                            padding-top: 16px;
                        }

                        &.editor {
                            padding-top: 26px;
                        }
                    }

                    .form-value {
                        border-bottom: 1px solid $grey-border;

                        &.to {
                            padding: 14px 0 15px;

                            span {
                                background-color: $grey-border;
                                border-radius: 2px;
                                color: black;
                                display: inline-block;
                                font-size: $font-size;
                                line-height: 26px;
                                margin-bottom: 5px;
                                margin-right: 10px;
                                padding: 0 12px;
                            }
                        }

                        &.subject {
                            .form-input {
                                border: none;
                                color: $main-blue;
                                font-size: $font-size;
                                height: auto;
                                line-height: normal;
                                padding: 16px 0;
                            }
                        }

                        &.editor {
                            border-bottom: 0;

                            app-editor {
                                .ui-editor-container {
                                    margin-top: 14px;

                                    .ui-editor-toolbar {
                                        border-radius: 2px;
                                        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5);
                                        border: solid 1px #d8d8d8;
                                        background: #f9fafb;
                                        padding: 8px;

                                        p-header {
                                            display: flex;
                                            justify-content: space-between;
                                        }

                                        .job_desc {
                                            max-width: 190px;
                                            height: 28px;

                                            p-dropdown .ui-dropdown {
                                                .ui-dropdown-label {
                                                    font-size: $font-size-low;
                                                    height: 26px;
                                                    line-height: 13px;
                                                    padding: 7px 10px 6px;
                                                }
                                            }
                                        }
                                    }

                                    .ui-editor-content {
                                        border: 0;

                                        .ql-editor {
                                            font-size: $font-size-origin;
                                            min-height: 514px;
                                            padding: 12px 0;

                                            p {
                                                margin: 0;
                                            }
                                        }
                                    }

                                    span[style*='color: white;'] {
                                        mix-blend-mode: multiply;
                                        border-radius: 30px;
                                        background-color: rgb(59, 178, 115);
                                        margin-bottom: 5px;
                                        display: inline-block;
                                        padding: 0px 10px;
                                    }
                                }

                                .ql-toolbar.ql-snow .ql-formats.formatting {
                                    display: flex;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

app-editor {
    .ui-editor-container {
        .ui-editor-toolbar {
            border-radius: 2px;
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5);
            border: solid 1px #d8d8d8;
            background: #f9fafb;
            padding: 8px;

            p-header {
                display: flex;
                justify-content: space-between;
            }

            .job_desc {
                max-width: 190px;
                height: 28px;

                p-dropdown .ui-dropdown {
                    .ui-dropdown-label {
                        font-size: $font-size-low;
                        height: 26px;
                        line-height: 13px;
                        padding: 7px 10px 6px;
                    }
                }
            }
        }

        span[style*='color: white;'] {
            mix-blend-mode: multiply;
            border-radius: 30px;
            background-color: rgb(59, 178, 115);
            margin-bottom: 5px;
            display: inline-block;
            padding: 0px 10px;
        }
    }

    .ql-toolbar.ql-snow .ql-formats.formatting {
        display: flex;
        align-items: center;
    }
}

// Switch
.ui-inputswitch.ui-widget {
    display: block;
    width: 30px;
    height: 18px;

    &.ui-inputswitch-checked {
        &.ui-inputswitch-focus .ui-inputswitch-slider {
            box-shadow: 0px 0px 3px lighten($pink, 10%);
        }

        &:not(.ui-state-disabled):hover .ui-inputswitch-slider {
            background-color: darken($pink, 10%);
        }

        .ui-inputswitch-slider {
            background-color: $pink;

            &:before {
                transform: translateX(12px);
            }
        }
    }

    &.ui-inputswitch-focus .ui-inputswitch-slider {
        box-shadow: 0px 0px 3px lighten($switch-grey, 10%);
    }

    &:not(.ui-state-disabled):hover .ui-inputswitch-slider {
        background-color: darken($switch-grey, 10%);
    }

    .ui-inputswitch-slider {
        background-color: $switch-grey;

        &:before {
            background-color: $white;
            width: 14px;
            height: 14px;
            left: 2px;
            bottom: 2px;
        }
    }
}

.over {
    .stages-section {
        overflow: visible !important;

        .drop-overlay {
            display: flex !important;
        }
    }
}

.message-form {
    app-editor {
        .ql-toolbar.ql-snow + .ql-container.ql-snow {
            background: $white;
            border: 1px solid $light-grey;
            border-radius: 2px;
            height: 71px;
            margin-bottom: 3px;
            color: #212b35;
            font-size: 12px;
            font-family: 'Roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;

            .ql-editor {
                padding: 10px;

                span[style*='color: black;'],
                span[style*='color: white;'] {
                    mix-blend-mode: multiply;
                    border-radius: 30px;
                    background-color: rgb(59, 178, 115);
                    margin-bottom: 5px;
                    display: inline-block;
                    padding: 0px 10px;
                    line-height: 22px;
                }
            }
        }

        .ui-editor-toolbar {
            display: none;
        }
    }

    form {
        label {
            font-size: 12px;
            color: #637381;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 7px;

            span {
                display: flex;

                img {
                    margin-right: 5px;
                }
            }
        }
    }

    .hash-suggestion {
        position: absolute;
        left: 13px;
        right: 10px;
        top: 31px;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px $grey-border;
        background-color: #ffffff;
        padding: 11px;
        max-width: 280px;
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .hash {
            font-size: 12px;
            line-height: 22px;
            margin: 0;
            color: #ffffff;
            cursor: pointer;
            background: rebeccapurple;
            border-radius: 11px;
            padding: 0 11px;

            &:not(:last-child) {
                margin-bottom: 11px;
            }

            // &:hover {
            //     background-image: linear-gradient(45deg, #05050533, #00000033);
            // }
        }
    }

    .create-new {
        display: flex;
        align-items: center;
        background: $light;
        color: black;
        cursor: pointer;
        flex-direction: unset;
        font-size: 12px;
        max-width: 210px;

        img {
            margin: 0 11px;
        }
    }

    .hash-colors {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 6px;
        grid-row-gap: 6px;
        background: white;
        border: 1px solid $grey-border;
        border-radius: 5px;
        padding: 7px 6px;
        position: absolute;
        width: 126px;
        z-index: 4;

        &:after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background: white;
            border-left: 1px solid $grey-border;
            border-top: 1px solid $grey-border;
            transform: rotate(45deg);
            left: calc(50% - 4px);
            top: -4.5px;
        }

        .hash-color {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border-radius: 2px;
            cursor: pointer;

            &:first-child {
                border: 1px solid #d8d8d8;
            }

            // &:hover {
            //     background-image: linear-gradient(45deg, #00000033, #00000033);
            // }
        }
    }

    .tags-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 6px;

        > * {
            margin-right: 6px;
            margin-bottom: 6px;
        }

        .tag {
            padding: 8px 12px;
            font-size: 12px;
            line-height: 14px;
            border-radius: 15px;
            display: flex;
            align-items: center;

            svg {
                cursor: pointer;
                margin-left: 8px;
            }
        }
    }
}

.ui-tooltip {
    .ui-tooltip-text {
        background-color: $sapphire-blue;
        border-radius: 2px;
        box-shadow: none;
        font-size: 13px;
        line-height: 15px;
        padding: 1px 5px;
    }

    &.ui-tooltip-top {
        padding-bottom: 4px;

        .ui-tooltip-arrow {
            margin-left: -6px;
            border-width: 7px 7px 0;
            border-top-color: $sapphire-blue;
            z-index: -1;
        }
    }
}

.status-icon {
    display: block;
    width: 15px;
    height: 15px;

    &.success {
        .holder {
            display: flex;
            width: 15px;
            height: 15px;
            position: relative;
            border-radius: 50%;
            background: #3bb273;

            &:before {
                content: '';
                position: absolute;
                left: 4px;
                top: 5px;
                width: 8px;
                height: 3px;
                border: 1px solid #fff;
                border-right: 0;
                border-top: 0;
                transform: rotate(-45deg);
            }
        }
    }

    &.acceptable {
        .holder {
            display: flex;
            width: 15px;
            height: 15px;
            position: relative;
            border-radius: 50%;
            background: #ffc107;

            &:before {
                content: '';
                position: absolute;
                left: 4px;
                top: 5px;
                width: 8px;
                height: 3px;
                border: 1px solid #fff;
                border-right: 0;
                border-top: 0;
                transform: rotate(-45deg);
            }
        }
    }

    &.error {
        .holder {
            display: flex;
            width: 15px;
            height: 15px;
            position: relative;
            border-radius: 50%;
            background: #f44336;

            &:before {
                content: '';
                position: absolute;
                left: 4px;
                top: 7px;
                width: 8px;
                height: 1px;
                background: #fff;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                position: absolute;
                left: 4px;
                top: 7px;
                width: 8px;
                height: 1px;
                background: #fff;
                transform: rotate(-45deg);
            }
        }
    }

    &.warning {
        .holder {
            display: flex;
            width: 15px;
            height: 15px;
            position: relative;

            .bar1 {
                position: absolute;
                left: 0px;
                bottom: 1px;
                width: 14px;
                height: 2px;
                border-radius: 2px;
                background: #ffc107;
            }

            .bar2 {
                position: absolute;
                left: 3px;
                top: 6px;
                width: 13px;
                height: 2px;
                background: #ffc107;
                border-radius: 2px;
                transform: rotate(60deg);
            }

            .bar3 {
                position: absolute;
                top: 6px;
                left: -3px;
                width: 13px;
                height: 2px;
                background: #ffc107;
                border-radius: 2px;
                transform: rotate(-60deg);
            }

            .fill {
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 6px 9px 6px;
                border-color: transparent transparent #ffc107 transparent;
                left: 0px;
                top: 3px;
            }

            .mark {
                position: absolute;
                left: 6px;
                top: 4px;
                content: '';
                width: 1px;
                height: 5px;
                background: #fff;
                margin: 0 0 2px;

                &:before {
                    display: block;
                    content: '';
                    width: 1px;
                    height: 5px;
                    background: #fff;
                    margin: 0 0 2px;
                }

                &:after {
                    display: block;
                    content: '';
                    width: 1px;
                    height: 1px;
                    background: #fff;
                    margin: 0;
                }
            }
        }
    }

    &.empty {
        .holder {
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #d8d8d8;
        }
    }
}

.stage-content {
    &.drag-target-border {
        .dragged {
            & > * {
                opacity: 0.7 !important;
            }
        }
    }
}

.cdk-drag-placeholder {
    opacity: 0.3;

    .ava .check-wrapper {
        display: none !important;
    }
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.stage-content.cdk-drop-list-dragging .candidate-block:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
