@import 'variables';

.form-input {
    background: $white;
    width: 100%;
    height: 36px;
    border-radius: 2px;
    color: $main-blue;
    border: 1px solid $grey-border;
    font-size: $font-size-origin;
    line-height: 16px;
    padding: 8px 1px 8px 9px;
    box-shadow: none;
    outline: none;

    &::-webkit-input-placeholder {
        color: $grey;
        font-size: $font-size-origin;
        line-height: 16px;
    }

    &::-moz-placeholder {
        color: $grey;
        font-size: $font-size-origin;
        line-height: 16px;
    }

    &:-ms-input-placeholder {
        color: $grey;
        font-size: $font-size-origin;
        line-height: 16px;
    }

    &:focus {
        border: 1px solid $pink;
        padding: 8px 1px 8px 9px;
    }

    &[disabled],
    &.disabled,
    &[ng-reflect-is-disabled='true'] {
        border: 1px solid $grey-border;
        background: $white;
        cursor: not-allowed;
    }

    &.pl30 {
        padding-left: 30px;
    }

    &.ng-invalid.ng-touched {
        border-color: $red;
    }
}

.textarea {
    background: $white;
    width: 100%;
    border-radius: 2px;
    color: $grey;
    border: 1px solid $grey-border;
    font-size: $font-size-origin;
    line-height: 16px;
    padding: 8px 1px 8px 9px;
    box-shadow: none;
    outline: none;
    margin: 0;

    &::-webkit-input-placeholder {
        color: $grey;
        font-size: $font-size-origin;
        line-height: 16px;
    }

    &::-moz-placeholder {
        color: $grey;
        font-size: $font-size-origin;
        line-height: 16px;
    }

    &:-ms-input-placeholder {
        color: $grey;
        font-size: $font-size-origin;
        line-height: 16px;
    }

    &.ng-invalid.ng-touched {
        border-color: $red;
    }

    &:focus {
        border: 1px solid $pink;
        padding: 8px 1px 8px 9px;
    }
}

.form-tip {
    font-size: 12px;
}

body .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon:before {
    content: '' !important;
}

p-dropdown .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
    left: 50%;
}

p-dropdown {
    &.ng-invalid.ng-touched {
        .ui-dropdown {
            .ui-dropdown-label {
                border-color: $red;
            }
        }
    }

    .ui-dropdown {
        .ui-dropdown-panel {
            box-shadow: none;
            margin: 0;
            border-radius: 0 0 2px 2px;

            .ui-dropdown-list {
                padding: 0;
            }

            .ui-dropdown-item {
                padding: 9px;
                margin: 0;
                border-radius: 0;
                font-weight: 400;
                font-size: $font-size-origin;
            }

            .ui-state-highlight {
                background: $pink;
                color: $white;
            }
        }

        &.ui-dropdown-open {
            .ui-dropdown-label {
                border: 1px solid $pink;
                padding: 9px 12px 9px 10px;
                transition: none;
            }
        }

        &.ui-state-default {
            border: 0;
            color: $dark-blue;
            box-shadow: none;
        }

        .ui-dropdown-label {
            height: 36px;
            background: $white;
            width: 100%;
            border-radius: 2px;
            color: $dark-blue;
            border: 1px solid $grey-border;
            font-size: $font-size-origin;
            line-height: 16px;
            padding: 9px 12px 9px 10px;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .ui-dropdown-trigger {
            border: 0;
            background: none;

            .ui-dropdown-trigger-icon {
                border: none;
                display: inline-block;
                width: 8px;
                height: 15px;
                margin-top: -7px;

                &:before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid $grey;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid $grey;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
}
body .permission-holder p-checkbox {
    .ui-chkbox {
        margin-right: 23px;
    }
}
body p-checkbox {
    .ui-chkbox {
        // vertical-align: top;
        margin-right: 10px;
    }

    .ui-chkbox .ui-chkbox-box.ui-state-active {
        padding: 0;
        border: 0;
    }

    &.ng-invalid.ng-touched {
        .ui-chkbox-box {
            &.ui-state-default {
                border-color: $pink;
            }
        }
    }

    .ui-chkbox-box {
        color: $white;

        &.ui-state-default {
            width: 18px;
            height: 18px;
            border: 2px solid $light-grey;
            background: $white;
            color: $white;
            transition: all 0.2s ease;
            border-radius: 2px;
        }

        &.ui-state-active {
            background: $pink !important;
            border-color: $pink !important;
            box-shadow: none !important;
            color: $white !important;
            outline: 0;
        }

        &.ui-state-focus {
            box-shadow: none;
        }
    }

    .ui-chkbox-label {
        vertical-align: top;
    }

    .color-grey {
        color: $grey;
    }
    .main-blue {
        color: $main-blue;
        font-size: 15px;
    }
}

p-messages {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    .ui-messages {
        margin: 0;
        color: $red;
        max-height: 65px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 0;
        margin-bottom: 0;
        overflow: hidden;
        background-color: #f2dede;
        border-color: #ebccd1;
        padding-right: 25px;

        .ui-messages-close {
            font-size: 20px;
        }
    }

    .ui-messages-error {
        .ui-messages-icon {
            display: none;
        }
    }
}

.error-message {
    font-size: 12px;
    line-height: 1.1;
    color: $red;
    margin: 0;
    padding: 4px 0;
}

.individual-category p-slider {
    .hc-slider {
        &.ui-slider-horizontal .ui-slider-handle {
            top: -4px !important;
            margin-left: -5px;
        }
        .ui-slider-handle {
            width: 10px !important;
            height: 10px !important;
            background-color: #3bb273 !important;
            border-radius: 50%;
        }
    }
}
p-slider {
    .hc-slider {
        background: $grey-border;
        box-shadow: none;
        height: 2px;

        .ui-slider-range {
            background: $pink;
            box-shadow: none;
            position: relative;

            &:after {
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                background: $pink;
                position: absolute;
                border-radius: 50%;
                left: 100%;
                top: 0;
                margin: -1px 0 0 -2px;
            }
        }

        .ui-slider-handle {
            width: 26px !important;
            height: 32px !important;
            background: url(/assets/images/slider-handle.svg) no-repeat;
            background-size: contain;
        }

        &.ui-slider-horizontal {
            .ui-slider-handle {
                top: -32px !important;
                margin-left: -13px;
                text-align: center;
                color: #fff;
                padding: 7px 0 0;
                font-size: 10px;
                font-weight: 400;

                &:hover {
                    cursor: grab;
                }

                &:active {
                    cursor: grabbing;
                }
            }
        }
    }
}

.form-row {
    width: 100%;

    .form-row-columns {
        display: flex;
        flex-direction: row;
    }

    .form-row-column {
        flex: 1;
        position: relative;

        &.w66p {
            max-width: 66%;
            min-width: 66%;
        }
    }

    .form-row-colums-separator {
        height: 46px;
        width: 40px;
        min-width: 40px;
        max-width: 40px;
    }

    .dot {
        display: inline-block;
        background: $green;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 0 15px 0 0;
    }

    .form-block {
        padding: 0 0 20px;

        &.pr {
            position: relative;
        }

        .form-block-label {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 12px;
            line-height: 1.2;
            color: #3d4953;
            margin: 0 0 6px;
        }

        .form-input {
            background: #fff;
            width: 100%;
            height: 46px;
            border-radius: 2px;
            border-radius: 2px;
            color: #3d4953;
            border: 1px solid #e3e7eb;
            font-size: $font-size;
            line-height: 26px;
            padding: 9px 2px 9px 22px;
            box-shadow: none;
            outline: none;
            margin: 0;

            &:focus,
            &:active {
                border-color: $green;

                ~ .form-block-label {
                    color: #3d4953;
                }
            }

            &.ng-invalid.ng-touched {
                border-color: $red;
            }

            &.phone-input {
                padding-left: 54px !important;
            }

            .placeholder {
                color: #9ca8ae;
                line-height: normal;
                font-weight: 400;
            }

            &::-webkit-input-placeholder {
                color: #9ca8ae;
                font-weight: 400;
                line-height: normal;
            }

            &::-moz-placeholder {
                color: #9ca8ae;
                font-weight: 400;
                line-height: normal;
            }

            &:-ms-input-placeholder {
                color: #9ca8ae;
                font-weight: 400;
                line-height: normal;
            }

            &:-moz-placeholder {
                color: #9ca8ae;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    .error-block {
        color: $red;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 10px;
        display: flex;

        p {
            margin: 0 5px 0 0;
        }
    }

    .intl-tel-input {
        display: block;
        width: 100%;
    }
}

.intl-tel-input .selected-flag {
    padding: 0 6px 0 20px;
    width: 48px;
    outline: none !important;
    position: relative;
    z-index: 4;
}

.intl-tel-input .selected-flag .iti-arrow {
    display: none;
}

.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
    background: transparent;
}

.intl-tel-input .country-list {
    max-width: 344px;
}

.intl-tel-input {
    width: 100%;
}

.textarea {
    background: #fff;
    width: 100%;
    height: 106px;
    border-radius: 2px;
    border-radius: 2px;
    color: #3d4953;
    border: 1px solid #e3e7eb;
    font-size: $font-size;
    line-height: 16px;

    // padding: 9px 2px 9px 22px;
    box-shadow: none;
    outline: none;
    resize: none;
    margin: 0;

    &:focus {
        border-color: $pink;

        ~ .form-block-label {
            color: #3d4953;
        }
    }

    &.ng-invalid.ng-touched {
        border-color: $red;
    }

    &::-webkit-input-placeholder {
        color: #9ca8ae;
        font-weight: 400;
    }

    &::-moz-placeholder {
        color: #9ca8ae;
        font-weight: 400;
    }

    &:-ms-input-placeholder {
        color: #9ca8ae;
        font-weight: 400;
    }

    &:-moz-placeholder {
        color: #9ca8ae;
        font-weight: 400;
    }
}

.form-row-separator {
    width: 100%;
    height: 1px;
    background: $light-grey;
}

.radio-btns-group {
    p-radiobutton {
        display: block;
        width: 100%;
        margin: 0 0 10px;

        .pi-circle-on:before {
            display: none;
        }
    }

    .ui-radiobutton .ui-radiobutton-box {
        border: 1px solid #9aa8af;
        background-color: #ffffff;
        width: 18px;
        height: 18px;
    }

    .ui-radiobutton .ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover {
        border-color: #212121;
    }

    .ui-radiobutton .ui-radiobutton-box.ui-state-focus {
        border-color: $green;
        background-color: #ffffff;
        color: $green;
        box-shadow: none;
    }

    .ui-radiobutton .ui-radiobutton-box.ui-state-active {
        border-color: $green;
        background-color: $green;
    }

    .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
        background-color: #ffffff;
        border-radius: 50%;
    }

    .ui-radiobutton .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover {
        border-color: $green;
        background-color: $green;
    }

    .ui-radiobutton .ui-radiobutton-box.ui-state-active.ui-state-focus {
        border-color: $green;
        background-color: $green;
    }

    .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
        width: 8px;
        height: 8px;
        margin-left: -4px;
        margin-top: -4px;
    }

    .ui-radiobutton {
        margin-right: 10px;
    }
}

.checkbox-row,
.chb-block {
    margin: 0 0 12px;

    &:last-child {
        margin: 0 0 6px;
    }

    .ui-chkbox .ui-chkbox-box {
        border: 1px solid #9aa8af;
        background-color: #ffffff;
        width: 18px;
        height: 18px;
        text-align: center;
        border-radius: 2px;
        transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    }

    .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
        font-size: 16px;
    }

    .ui-chkbox .ui-chkbox-box.ui-state-focus {
        border-color: $green;
        background-color: #ffffff;
        color: $green;
        box-shadow: none;
    }

    .ui-chkbox .ui-chkbox-box.ui-state-active {
        border-color: $green;
        background-color: $green;
    }

    .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
        border-color: $green;
        background-color: $green;
    }

    .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-focus {
        border-color: $green;
        background-color: $green;
    }
}

p-dialog {
    .ui-dialog {
        border-radius: 3px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

    .ui-dialog .ui-dialog-titlebar {
        position: relative;
        border: 0;
        background: #fff;
        border-bottom: 1px solid #e3e7eb;
        padding: 18px 30px;

        &:after {
            content: '';
            position: absolute;
            left: 30px;
            bottom: -1px;
            width: 72px;
            height: 1px;
            background: $green;
            font-size: 20px;
            line-height: 1.1;
            font-weight: normal;
            color: $green;
        }

        .title {
            font-weight: normal;
        }
    }

    .ui-dialog .ui-dialog-content {
        border: 0;
        padding: 18px 30px 9px;

        p {
            margin: 0 0 20px;
        }
    }

    .ui-dialog .ui-dialog-footer {
        border: 0;
        padding: 9px 30px 18px;
    }

    .btn-green {
        background: $green;

        &:hover {
            background: darken($green, 5%);
            color: #fff;
        }
    }
}

body .ui-dropdown .ui-dropdown-trigger {
    background-color: transparent !important;
}

body p-calendar {
    .ui-datepicker table td > {
        a.ui-state-active {
            background: $green;
        }

        a {
            color: $green;
        }
    }

    .ui-datepicker table td.ui-datepicker-today a {
        background-color: #eaeaea;
    }

    .ui-datepicker:not(.ui-datepicker-inline) {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #e3e7eb;
    }

    .ui-state-disabled,
    .ui-widget:disabled {
        color: $dark-grey !important;
        opacity: 1;
    }

    .ui-datepicker {
        color: $green;
    }

    .ui-calendar {
        width: 100%;
    }

    .ui-inputtext {
        background: #fff;
        width: 100%;
        height: 46px;
        border-radius: 2px;
        border-radius: 2px;
        color: #3d4953;
        border: 1px solid #e3e7eb;
        font-size: $font-size;
        line-height: 16px;
        padding: 9px 2px 9px 22px;
        box-shadow: none;
        outline: none;

        &:focus {
            border-color: $green;
        }

        &:enabled:hover:not(.ui-state-error) {
            border-color: #e3e7eb;
        }

        &:enabled:focus:not(.ui-state-error) {
            border-color: $green !important;
        }
    }

    &.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext {
        border-color: $red !important;
    }

    &.ng-touched.ng-invalid .ui-inputtext {
        border-color: $red !important;
    }
}

.form-content-box {
    .assessment-item {
        &:hover {
            svg {
                path {
                    fill: $pink;
                }
            }
        }
        &.active {
            svg {
                path {
                    fill: $pink;
                }
            }
        }
    }
    .subtitle {
        svg {
            path {
                fill: $pink;
            }
        }
    }
}
