@import 'variables.scss';

.sidebar-nav {
    .sidebar-nav-link {
        a {
            .icon {
                svg {
                    g {
                        fill: #9eaab1;
                    }
                }
            }
        }
    }
}

.onboarding-content {
    .form-content-block {
        width: 100%;
        border-radius: 3px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        position: relative;
    }

    .form-content-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #e3e7eb;

        // color: $green;
        padding: 16px 20px 16px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 20px;
            bottom: -1px;
            width: 72px;
            height: 1px;

            // background: $green;
        }

        .title {
            display: block;
            font-size: 20px;
            line-height: 1.1;
            font-weight: bold;
            margin: 0;
        }

        .note {
            margin-left: auto;
            color: #9aa8af;
            font-size: 12px;
            line-height: 1.2;
        }

        .dot {
            width: 6px;
            height: 6px;
            border-radius: 6px;

            // background: $green;
            display: inline-flex;
            margin: 0 3px;
        }
    }

    .form-content-holder {
        width: 100%;
        padding: 20px;
    }

    .form-bottom-row {
        a {
            text-decoration: none;
        }

        .btn-colored {
            // background: $green;
            color: #fff;
        }

        .btn {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }

    .form-section-header {
        margin: 0 0 40px;
    }

    .form-section-title {
        color: #455565;
        font-size: 28px;
        line-height: 1.1;
        font-weight: bold;
        margin: 0 0 10px;
    }

    .form-section-subtitle {
        color: #9aa8af;
        font-size: 12px;
        line-height: 1.1;
        font-weight: normal;
        margin: 0;
    }

    p-dropdown.ng-valid .ui-dropdown-label {
        color: #000000;
    }

    p-dropdown .ui-dropdown .ui-dropdown-label {
        height: 46px;
        padding: 14px 12px 14px 22px;
    }

    p-dropdown .ui-dropdown.ui-dropdown-open .ui-dropdown-label {
        // border: 1px solid $green;
        padding: 14px 12px 14px 22px;
    }

    p-dropdown .ui-dropdown .ui-dropdown-panel .ui-state-highlight {
        // background: $green;
    }

    p-dropdown .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
        content: '' !important;
        width: 20px;
        height: 20px;
        display: block;
        background: url(/assets/images/arrow-bottom.svg) no-repeat center;

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }
    }

    .ui-dropdown .ui-dropdown-trigger {
        width: 3.5em;
    }

    .upload-block {
        width: 100%;
        position: relative;
        height: 145px;
        border: 1px solid #e3e7eb;
        border-radius: 2px;
        cursor: pointer;
        color: #627c8d;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        padding: 8px 60px 25px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
        max-width: 344px;

        .download-file-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            position: relative;
        }

        &.exist {
            align-items: center;
            padding: 10px;
            justify-content: center;

            // border-color: $green;
        }

        &.invalid {
            border-color: $red !important;
        }

        &.over {
            background: rgba(156, 168, 174, 0.1);
        }

        .img-block {
            margin: 0 0 6px;
        }

        p {
            margin: 0 auto;
            line-height: 14px;
            letter-spacing: 0.4px;

            span {
                cursor: pointer;

                // color: $green;
            }
        }

        input[type='file'] {
            display: none;
        }

        .upload-progress {
            position: absolute;
            transition: 0.25s;
            left: 0;
            bottom: 0;

            // width: 100%;
            height: 7px;

            // background: $green;
            border-radius: 0 0 1px 1px;
        }
    }
}
