$white: #fff;
$main-background: #f1f5f9;
$main-blue: #212b35;
$dark-blue: #1a2848;
$dark-blue-btn: #3071e1;
$sapphire-blue: #525f7f;
$blue: #007aff;
$cyan-blue: #f1f5f9;
$grey: #637381;
$grey-border: #d7dbdf;
$light-grey: #d8d8d8;
$light: #f9fafb;
$pink: #ff2d55;
$green: #7ed321;
$light-green: #4cd964;
$dark-green: #65b7a9;
$orange: #ff9500;
$orange2: #feba8b;
$light-red: #fe7f7f;

$bright-blue: #3b86cb;
$middle-grey: #9b9b9b;
$black: #000000;
$red: #ff3b30;
$dark-grayish-blue: #8b969e;

$transition: all 0.2s ease;
