$white: #fff;
$main-background: #f1f5f9;
$main-blue: #212B35;
$dark-blue: #1A2848;
$dark-blue-btn: #3071E1;
$sapphire-blue: #525F7F;
$blue: #007AFF;
$cyan-blue: #F1F5F9;
$grey: #637381;
$grey-border: #D7DBDF;
$light-grey: #D8D8D8;
$light: #F9FAFB;
$pink: #FF2D55;
$green: #7ED321;
$light-green: #4CD964;
$dark-green: #65B7A9;
$orange: #F5A623;
$orange2: #FEBA8B;
$light-red: #FE7F7F;

$bright-blue: #3B86CB;
$middle-grey: #9B9B9B;
$black: #000000;
$red: #D0021B;
$dark-grayish-blue: #8B969E;

$transition: all 0.2s ease;