@import "../../../styles/variables.scss";

.wrap-block.hide {
    .content-text {
        display: none;
    }
}

.candidate-header {
    display: flex;

    .img-block {
        position: relative;
        margin: 1px 16px 0 0;
        border-radius: 50%;
        height: 72px;
        width: 72px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $blue;
        color: $white;
        font-size: 24px;
        text-align: center;

        img {
            width: 100%;
            margin: 0;
            display: block;
        }
    }

    .information-block {
        color: $grey;
        font-size: 13px;

        p {
            margin: 0;
        }

        .information-block-row {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0 0 4px;
        }
    }

    img {
        display: inline-flex;
        width: 15px;
        align-items: center;
        justify-content: flex-start;
        margin: 0 12px 0 0;
    }

    .text {
        line-height: 14px;
    }

    .name {
        font-size: 25px;
        line-height: 29px;
        color: $main-blue;
        font-weight: bold;
        flex: 0 0 100%;
        margin: 0 0 4px;
    }

    .detail-information {
        display: flex;
        align-items: center;
        margin: 0 28px 0 0;

        &:last-child {
            flex: 0 0 100%;
        }

        .icon {
            margin: 0 6px 0 0;
        }
    }
}

.social-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
        margin: 0 20px 0 0;
        display: flex;
        align-items: center;
    }

    img {
        margin: 0;
        display: block;
    }

    a {
        display: block;
    }
}

.scores {
    color: $main-blue;
    padding: 10px 0 0;

    .title {
        margin: 0 0 20px;
    }

    .score-item {
        display: flex;
        align-items: center;
        margin: 0 0 11px;
    }

    .score-name {
        flex: 0 0 115px;
    }

    .score-result {
        flex: 0 0 42px;
        text-align: right;
    }

    .score-chart {
        margin: 0 21px 0 16px;
        flex: 1;
        position: relative;

        .line {
            width: 50%;
            height: 7px;
            border-radius: 100px;
            background: red;
            position: relative;
            z-index: 2;
        }

        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            top: 3px;
            width: 100%;
            height: 3px;
            border-radius: 100px;
            background: $grey-border;
        }
    }
}

.candidate-holder {
    padding: 30px 0 0;
    margin: 0 0 -30px;
    height: 100%;

    .sections-nav {
        padding: 18px 0 17px 0;
    }
}

.candidate-content {
    display: flex;
    margin: -8px 0 0;
    height: 100%;

    h3 {
        color: $main-blue;
        font-size: 16px;
        line-height: 19px;
        font-weight: normal;
        margin: 0 0 11px;
    }

    h4 {
        margin: 0 0 15px;
        font-size: 11px;
        color: $sapphire-blue;
        text-transform: uppercase;
    }

    .wrap-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hide-btn {
        width: 16px;
        height: 9px;
        border: none;
        box-shadow: none;
        outline: none;
        padding: 0;
        cursor: pointer;
        font: 14px/1.538 'Roboto', Helvetica, Arial, sans-serif;
        background: url("/assets/images/bottom.svg") no-repeat center;
        margin: 0 0 11px;
        transition: 0.25s;

        &.active {
            transform: rotate(180deg);
        }
    }

    p {
        line-height: 22px;
        font-size: 13px;
        margin: 0 0 10px;
    }

    .content-summary {
        margin: 0 0 30px;
    }
}

.content-section {
    flex: 1;
    padding: 4px 30px 60px 0;
}

.chart-job-index {
    margin: 0 0 31px;

    .chart-values {
        display: flex;
        justify-content: space-between;
    }

    .indicator {
        background: linear-gradient(to right, #FE7F7F, #ECAAAC, #E1C4C7, #D7DBDF, #AFCECC, #8DC4BC, #65B7A9);
        box-shadow: none;
        border-radius: 100px;
        width: 100%;
        height: 9px;
        padding: 0;
        position: relative;
        margin: 0 0 12px;
    }

    .indicator-icon {
        position: absolute;
        background: transparent;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $sapphire-blue;
        top: -6px;
        margin: 0 0 0 -8px;
        left: 120px;
    }
}

.matching-candidate {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 30px;
    padding: 0 0 0;

    .candidate-wrapper {
        flex: 0 0 50%;
        position: relative;

        &:last-child {
            padding: 0 0 0 15px;

            &:after {
                content: '';
                position: absolute;
                width: 2px;
                height: calc(100% - 12px);
                background: $grey;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
            }
        }
    }
}

.interactivity {
    width: 370px;
    flex: 0 0 370px;
    background: $light;
    padding: 15px 20px 20px 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

    .interactivity-nav {
        display: flex;
        margin: 0 0 15px;
    }

    .interactivity-nav-link {
        background: $white;
        margin: 0 17px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        flex: 0 0 34px;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.25s;

        &.active {
            background: $sapphire-blue;

            g {
                fill: $white;
            }
        }

        &:hover {
            background: $sapphire-blue;

            g {
                fill: $white;
            }
        }
    }
}



.skills-list {
    padding: 10px 0 20px;

    .skill-name {
        font-size: 12px;
        padding: 5px 11px;
        margin: 0 9px 10px 0;
        display: inline-flex;
        border-radius: 100px;
        color: $white;
        background: $grey-border;
    }
}

.experience {
    padding: 10px 0 0 0;

    .item {
        padding: 0 0 15px;
        border-bottom: 1px solid $grey-border;
        margin: 0 0 15px;

        &:last-child {
            border-bottom: none;
        }
    }

    .detail {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        margin: 0 0 11px;

        span {
            padding: 0 8px;
        }
    }

    .position {
        font-weight: bold;
    }

    .date {
        flex: 0 0 100%;
        font-size: 12px;
        font-style: normal;
        color: $grey;
    }

    .description {
        font-size: 13px;
        padding: 0 0 0 18px;
        line-height: 22px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            width: 3px;
            height: calc(100% - 10px);
            background: $grey-border;
        }
    }
}

.education {
    padding: 10px 0 0;
    font-size: 14px;

    .item {
        padding: 0 0 15px;
        border-bottom: 1px solid $grey-border;
        margin: 0 0 15px;

        &:last-child {
            border-bottom: none;
        }
    }

    .date {
        font-size: 12px;
        font-style: normal;
        color: $grey;
    }
}

.upload-block {
    margin: 0 0 30px;

    .drop-block {
        width: 100%;
        border: 2px dotted $grey-border;
        background: $white;
        border-radius: 5px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all 0.3s ease;

        .icon {
            margin: 0 20px 0 0;
        }

        .title {
            display: block;
        }

        p {
            margin: 0;
        }

        &:hover {
            cursor: pointer;
        }

        &.over {
            background: $grey-border;
        }
    }
}

.file-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    transition: all 0.2s ease;
    transform: translateY(0);

    app-resume-file-type {
        width: 30px;
        height: 30px;
        position: relative;
        margin: 0 20px 0 0;
    }

    .title {
        display: block;
    }

    p {
        font-size: 11px;
        line-height: 12px;
        color: $grey;
        margin: 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.file-block-wrapper {
    padding-bottom: 20px;
    width: 100%;
    transition: all 0.8s linear;

    &.fadeout {
        opacity: 0;
        height: 0;
        padding-bottom: 0;
        overflow: hidden;

        .file-block {
            transform: translateY(-100%);
        }
    }
}
