@import "../../../../styles";

.dis-flex{
  display: inline-flex;
  width: 100%;
  .tcenter{
    text-align: center;
  }
  .tright{
    text-align: right;
  }
  .billing-replace-red{
    color: $pink;
  }
  .billing-check-green{
    color: $dark-green;
  }
  .billing-card-around-space{
    padding: 0 5px;
  }
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

