@import "../../../../styles";

.dis-flex{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .card-visa{
    display: flex;
    align-items: center;
    img{
      margin: 0 10px;
    }
  }
  .billing-replace-red{
    color: $pink;
  }
  .billing-check-green{
    color: $dark-green;
  }
  .billing-card-around-space{
    padding: 0 5px;
  }
}
.input-block {
  position: relative;
  margin: 0;

  .input-holder {
    position: relative;
  }

  .input-card {
    position: absolute;
    right: 10px;
    top: 32px;
    font-size: 12px;
    pointer-events: none;
    z-index: 2;
  }

}

