<div class="container fixed-width-container">
    <div class="pages-nav">
        <button class="back-btn">
            <span class="icon"><img src="assets/images/left.svg" height="16px" alt="Left icon"></span>
            <span class="text">Graduate Recruit Program</span>
        </button>
    </div>
    <div class="title-block">
        <h1 class="page-title">New Question</h1>
        <div class="buttons-holder">

            <button class="btn btn-primary ml20 w140" (click)="onSave()">Save and Close</button>
        </div>
    </div>
    <div class="section-separator mb20"></div>
    <div class="content-section">
        <form [formGroup]="questionForm">
            
        </form>
    </div>
</div>