<div class="container">
    <div class="header-block">
        <div class="status-dropdown-block" *ngIf="!job.pool">
            <p-dropdown
                [options]="statusOptions"
                [(ngModel)]="job.status"
                [style]="{ width: '47px' }"
                class="status-dd status-dd-no-borders caret-down"
                (onChange)="onJobStatusChange(job)"
            >
                <ng-template let-item pTemplate="selectedItem">
                    <span class="status" [ngClass]="item.label.toLowerCase()"></span>
                </ng-template>
                <ng-template let-status pTemplate="item">
                    <span class="status" [ngClass]="status.label.toLowerCase()"></span>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="heading">
            <div class="job-title-block">
                <div class="view">
                    <strong class="title">{{ job.title }}</strong>
                    <button class="btn btn-round ml20" (click)="onEditJobClick($event)" *ngIf="!job.pool">
                        <img src="/assets/images/edit.svg" alt="" width="14" height="13" />
                    </button>
                    <button class="btn btn-round ml20" (click)="copyURL(href)" *ngIf="!job.pool && showCopyBoard">
                        <img src="/assets/images/icons-link.svg" alt="" width="14" height="13" />
                    </button>
                    <button class="btn btn-round ml20" *ngIf="showTick" style="background-color: #3bb273;">
                        <img src="/assets/images/tickmark.svg" alt="" width="14" height="13" />
                    </button>
                </div>
            </div>
            <div class="address" *ngIf="!job.pool">
                <img src="/assets/images/location.svg" class="ico" alt="" width="10" height="14" />
                <span>{{ job.location || 'Unknown Location' }}</span>
            </div>
        </div>
        <!-- <div class="vertical-separator"></div> -->
        <div class="hiring-managers-block mla">
            <div class="item" *ngFor="let hm of job.hiring_managers">
                <img *ngIf="getHm(hm) && getHm(hm).icon_url_small" [src]="getHm(hm).icon_url_small" alt="" />
                <span *ngIf="getHm(hm) && !getHm(hm).icon_url_small">{{ getHm(hm) | initials }}</span>
            </div>
            <button class="btn btn-round btn-grey" (click)="onAddHiringManagerClick($event)" title="Add Hiring Manager">
                <svg-icon class="fill-black" src="/assets/images/plus.svg"></svg-icon>
            </button>
        </div>
        <!-- <button class="btn btn-primary w140 mla add-btn" (click)="onAddCandidateClick()">Add Candidate</button> -->
    </div>
    <div class="blocks-separator mt10 mb10"></div>
    <div class="stages-section" appDragEnter (dropFile)="onDropFile($event)">
        <div class="stages-holder">
            <div class="stage-column">
                <div class="stage-column-holder">
                    <div class="stage-header" *ngIf="!hasSelection('applied')">
                        <h2 class="title">Applied</h2>
                        <span class="counter">{{ appliedCandidates.total || '0' }}</span>
                        <button
                            class="btn settings-btn mla"
                            (click)="onSettigsClick('applied')"
                            [ngStyle]="{ visibility: job.pool ? 'hidden' : 'visible' }"
                        >
                            <img src="/assets/images/settings-dots.svg" alt="" width="2" height="10" />
                        </button>
                        <button class="btn btn-square ml10" (click)="onAddCandidateClick()">
                            <img src="/assets/images/plus.svg" alt="" width="13" height="13" />
                        </button>
                    </div>
                    <div class="stage-actions" *ngIf="hasSelection('applied')">
                        <button class="btn danger" (click)="onSelectionDecline()">
                            Decline
                        </button>
                        <button class="btn" (click)="onSelectionProgress()">
                            Progress
                        </button>
                    </div>
                    <div
                        class="stage-content"
                        droppable
                        [dropScope]="['candidate']"
                        [dragOverClass]="'drag-target-border'"
                        (onDrop)="onCandidateDrop($event, 'applied')"
                        [ngClass]="{ 'is-dragged-from-stage': isDraggedFromStage('applied') }"
                        appStageColumnHeight
                    >
                        <!-- CANDIDATE BLOCK -->
                        <app-candidate-block
                            (click)="onCandidateClick('applied', candidate.id)"
                            *ngFor="let candidate of appliedCandidates.visible"
                            draggable
                            [dragScope]="['candidate']"
                            [dragData]="candidate"
                            (onDragStart)="onCandidateDragStart(candidate, 'applied')"
                            (onDragEnd)="onCandidateDragEnd(candidate, 'applied')"
                            [ngClass]="{ dd: candidate.isDdEmployee }"
                            [dragClass]="'dragged'"
                            [dragTransitClass]="'drag-transit'"
                            [candidate]="candidate"
                            [job]="job"
                            (onDeleting)="onDeletingCandidate($event)"
                            (deleted)="onDeletedCandidate($event)"
                            [resumeThreshold]="resumeThreshold"
                            [selected]="selection.columnId === 'applied' && selection.candidates[candidate.id]"
                            (onSelect)="onCandidateSelect('applied', $event)"
                        >
                        </app-candidate-block>
                        <!-- NO MATCHES -->
                        <div
                            class="no-matches-block"
                            *ngIf="initialLoad && !appliedCandidates.visible.length && !job.pool"
                        >
                            <img src="/assets/images/warning.svg" class="icon" width="23" height="20" alt="warning" />
                            <p>
                                No matched cadidates exist for this job. Either adjust your matching threshhold or add
                                more candidates
                            </p>
                        </div>

                        <!-- LOAD MORE -->
                        <div
                            class="show-more-block"
                            *ngIf="initialLoad && appliedCandidates.hidden.length && !job.pool"
                        >
                            <div class="show-more-separator tac"><span></span> <span></span> <span></span></div>
                            <div class="tac">
                                <span class="load-more" (click)="onLoadMore()"
                                    >Show more ({{ appliedCandidates.hidden.length }})</span
                                >
                            </div>
                        </div>
                        <div class="show-more-block" *ngIf="initialLoad && showMore">
                            <div class="tac">
                                <span class="load-more" (click)="onLoadLess()">Show Less</span>
                            </div>
                        </div>
                        <div class="drop-holder"></div>
                    </div>
                </div>
            </div>
            <div
                class="stage-column"
                *ngFor="let stage of stages; let i = index"
                draggable
                [dragScope]="['stage']"
                [dragData]="stage"
                dragClass="is-dragged"
                (onDragStart)="onStageDragStart(stage)"
                (onDragEnd)="onStageDragEnd()"
                droppable
                [dropScope]="['stage']"
                [dragOverClass]="'over'"
                (onDragOver)="onStageDragOver($event, stage.order)"
            >
                <div class="stage-column-holder">
                    <div class="stage-header" *ngIf="!hasSelection(stage.id)">
                        <h2 class="title">{{ stage.title }}</h2>
                        <span class="counter">{{ stageCandidates(stage.id)?.length || '0' }}</span>
                        <button class="btn settings-btn mla" (click)="onSettigsClick(stage.id)">
                            <img src="/assets/images/settings-dots.svg" alt="" width="2" height="10" />
                        </button>
                    </div>
                    <div class="stage-actions" *ngIf="hasSelection(stage.id)">
                        <button class="btn danger" (click)="onSelectionDecline()">
                            Decline
                        </button>
                        <button class="btn" (click)="onSelectionProgress()" [disabled]="stage.order === stages.length">
                            Progress
                        </button>
                    </div>
                    <div
                        class="stage-content"
                        droppable
                        [dropScope]="['candidate']"
                        [dragOverClass]="'drag-target-border'"
                        (onDrop)="onCandidateDrop($event, stage.id)"
                        [ngClass]="{ 'is-dragged-from-stage': isDraggedFromStage(stage.id) }"
                    >
                        <app-candidate-block
                            (click)="onCandidateClick(stage.id, candidate.id)"
                            *ngFor="let candidate of stageCandidates(stage.id)"
                            draggable
                            [dragScope]="['candidate']"
                            [dragData]="candidate"
                            (onDragStart)="onCandidateDragStart(candidate, stage.id)"
                            (onDragEnd)="onCandidateDragEnd(candidate, stage.id)"
                            [ngClass]="{ dd: candidate.isDdEmployee }"
                            [dragClass]="'dragged'"
                            [dragTransitClass]="'drag-transit'"
                            [candidate]="candidate"
                            [job]="job"
                            (onDeleting)="onDeletingCandidate($event)"
                            (deleted)="onDeletedCandidate($event)"
                            [resumeThreshold]="resumeThreshold"
                            [selected]="selection.columnId === stage.id && selection.candidates[candidate.id]"
                            (onSelect)="onCandidateSelect(stage.id, $event)"
                        ></app-candidate-block>
                        <div class="drop-holder"></div>
                    </div>
                </div>
            </div>
            <form [formGroup]="newJobStageForm" class="stage-column" *ngIf="!job.pool">
                <div class="light-overlay" *ngIf="stageFormIsSaving"></div>
                <button
                    class="btn fw btn-dash-bordered tal mb10"
                    (click)="createStageMode = true"
                    *ngIf="!createStageMode"
                >
                    <svg-icon class="fill-black ml10 mr10" src="/assets/images/plus.svg"></svg-icon>
                    <span class="text">Add Stage</span>
                </button>
                <div class="stage-content" *ngIf="createStageMode">
                    <input
                        type="text"
                        class="form-input"
                        formControlName="title"
                        (keydown)="onStageNameKeydown($event)"
                    />
                </div>
            </form>
        </div>
        <div class="drop-overlay">
            <div class="drop-holder">
                <img src="/assets/images/drop.svg" alt="" width="212" height="212" class="img" />
                <span class="text">Drop to Upload</span>
            </div>
        </div>
    </div>
    <div class="remove-candidate-block" [ngClass]="{ visible: candidateIsDragged }">
        <div
            class="remove-candidate-block-holder"
            droppable
            [dropScope]="['candidate']"
            [dragOverClass]="'drag-over'"
            (onDrop)="onCandidateDeleteDrop($event)"
        >
            <svg-icon src="/assets/images/remove.svg"></svg-icon>
        </div>
    </div>
</div>
<app-new-candidate-item
    *ngIf="createCandidateMode"
    [jobId]="job.id"
    (finishedCadidatesCreation)="onFinishedCandidatesCreation($event)"
    [droppedFiles]="droppedFiles"
></app-new-candidate-item>
<app-loader *ngIf="contentLoading"></app-loader>
