<div class="application-body">
    <div class="container">
        <header>
            <div class="logo">
                <img src="/assets/images/portal/logo-dimensiondata.svg" alt="Dimension Data">
            </div>
            <button class="sign-in" type="submit" [ngStyle]="{'background-color': mainColor}">
                Sign in <img src="/assets/images/portal/right-arrow.svg" alt="Right icon">
            </button>
        </header>
    </div>
    <div class="navigation-holder">
        <div class="container fixed-width-container">
            <ul class="step-navigation">
                <li class="active">
                    <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Recruit-Setup" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Job-View-Default" transform="translate(-540.000000, -125.000000)"
                               fill-rule="nonzero">
                                <g id="Group-6" transform="translate(338.000000, 125.000000)">
                                    <g id="Group" transform="translate(202.000000, 0.000000)">
                                        <g id="icons8-checked">
                                            <path d="M14,7 C14,10.86575 10.86575,14 7,14 C3.13425,14 0,10.86575 0,7 C0,3.13425 3.13425,0 7,0 C10.86575,0 14,3.13425 14,7 Z"
                                                  id="Shape" fill="#A8ABAD"></path>
                                            <polygon id="Shape" fill="#FFFFFF"
                                                     points="10.7051 3.7051 5.9556 8.4602 3.9949 6.5051 3.0051 7.4949 5.957 10.4398 11.69525 4.6949"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    Personal Infomation
                </li>
                <li>
                    <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Recruit-Setup" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Job-View-Default" transform="translate(-540.000000, -125.000000)"
                               fill-rule="nonzero">
                                <g id="Group-6" transform="translate(338.000000, 125.000000)">
                                    <g id="Group" transform="translate(202.000000, 0.000000)">
                                        <g id="icons8-checked">
                                            <path d="M14,7 C14,10.86575 10.86575,14 7,14 C3.13425,14 0,10.86575 0,7 C0,3.13425 3.13425,0 7,0 C10.86575,0 14,3.13425 14,7 Z"
                                                  id="Shape" fill="#A8ABAD"></path>
                                            <polygon id="Shape" fill="#FFFFFF"
                                                     points="10.7051 3.7051 5.9556 8.4602 3.9949 6.5051 3.0051 7.4949 5.957 10.4398 11.69525 4.6949"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    Work Experience
                </li>
                <li>

                    <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Recruit-Setup" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Job-View-Default" transform="translate(-540.000000, -125.000000)"
                               fill-rule="nonzero">
                                <g id="Group-6" transform="translate(338.000000, 125.000000)">
                                    <g id="Group" transform="translate(202.000000, 0.000000)">
                                        <g id="icons8-checked">
                                            <path d="M14,7 C14,10.86575 10.86575,14 7,14 C3.13425,14 0,10.86575 0,7 C0,3.13425 3.13425,0 7,0 C10.86575,0 14,3.13425 14,7 Z"
                                                  id="Shape" fill="#A8ABAD"></path>
                                            <polygon id="Shape" fill="#FFFFFF"
                                                     points="10.7051 3.7051 5.9556 8.4602 3.9949 6.5051 3.0051 7.4949 5.957 10.4398 11.69525 4.6949"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    Education
                </li>
                <li>

                    <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Recruit-Setup" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Job-View-Default" transform="translate(-540.000000, -125.000000)"
                               fill-rule="nonzero">
                                <g id="Group-6" transform="translate(338.000000, 125.000000)">
                                    <g id="Group" transform="translate(202.000000, 0.000000)">
                                        <g id="icons8-checked">
                                            <path d="M14,7 C14,10.86575 10.86575,14 7,14 C3.13425,14 0,10.86575 0,7 C0,3.13425 3.13425,0 7,0 C10.86575,0 14,3.13425 14,7 Z"
                                                  id="Shape" fill="#A8ABAD"></path>
                                            <polygon id="Shape" fill="#FFFFFF"
                                                     points="10.7051 3.7051 5.9556 8.4602 3.9949 6.5051 3.0051 7.4949 5.957 10.4398 11.69525 4.6949"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    Questions

                </li>
            </ul>
        </div>
    </div>
    <div class="container fixed-width-container">
        <div class="position-block">
            <h2>Senior Database Engineer</h2>
            <span class="note">All fields marked with a <span class="dot"></span> are required</span>
        </div>
        <div class="content" *ngIf="activeSection === 'start'">
            <div class="start-placeholder-block">
                <div class="text-block">
                    <p>To start, drop your resume on the page or click the “Apply with LinkedIn” button below. </p>
                    <button class="btn btn-blue"><img src="/assets/images/portal/linkedin.svg" alt="Linkedin Icon">Apply
                        with LinkedIn
                    </button>
                </div>
                <div class="upload-block">
                    <div class="upload-block-holder">
                        <div class="icon-holder">
                            <img alt="Upload icon" class="upload-icon" height="49"
                                 src="/assets/images/portal/submit_resume_filled.svg" width="60">
                        </div>
                        <span class="title-text">Drop your resume</span>
                        <span class="subtitle-text" [ngStyle]="{'color': mainColor}">Upload Resume</span> here
                    </div>
                </div>
            </div>
            <div class="manually-block">
                <button type="button" (click)="onChangeSection('personal')">No thanks, I’ll do it manually</button>
            </div>

        </div>
        <div class="content" *ngIf="activeSection === 'personal'">
            <form>
                <div class="form-candidate-box">
                    <h3 [ngStyle]="{'color': mainColor}">Personal Information</h3>
                    <!--<div class="form-block">-->
                        <!--<div class="input-block">-->
                            <!--<label for="" class="form-block-label" [ngStyle]="{'color': mainColor}">-->
                                <!--FIRST NAME <span class="required"></span>-->
                            <!--</label>-->
                            <!--<div class="input-holder">-->
                                <!--<input type="text" class="input-field">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-block">
                        <div class="form-block-columns">
                            <div class="form-block-col">
                                <label for="" class="form-block-label">
                                    FIRST NAME <span class="required-dot"></span>
                                </label>
                                <div class="input-holder">
                                    <input type="text" class="input-field" (focus)="onFocusInput($event)">
                                </div>
                            </div>
                            <div class="form-block-col-separator">
                            </div>
                            <div class="form-block-col">
                                <label for="" class="form-block-label">
                                    LAST NAME <span class="required-dot"></span>
                                </label>
                                <div class="input-holder">
                                    <input type="text" class="input-field" (blur)="onBlurInput($event)" (focus)="onFocusInput($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>