$white: #fff;
$main-background: #f1f5f9;
$main-blue: #212b35;
$main-blue-text: #fff;
$dark-blue: #1a2848;
$bg-blue: #29324b;
$dark-blue-text: #fff;
$dark-blue-btn: #3071e1;
$sapphire-blue: #525f7f;
$blue: #007aff;
// $cyan-blue: #f1f5f9;
$cyan-blue: #424e58;
$grey: #637381;
$grey2: #9aa8af;
$grey3: #bdbdbd;
$grey-border: #d7dbdf;
$light-grey: #d8d8d8;
$dark-grey: #3d4953;
$light: #f9fafb;
$pink: #3bb273;
$green: #7ed321;
$light-green: #4cd964;
$dark-green: #65b7a9;
$orange: #ff9500;
$orange2: #feba8b;
$light-red: #fe7f7f;
$dark: #2a3549;
$google: #007aff;
$sign-in: #ff2d55;
$bright-blue: #3b86cb;
$middle-grey: #9b9b9b;
$black: #000000;
$red: #ff3b30;
$dark-grayish-blue: #8b969e;
$transition: all 0.2s ease;
$assetPath: '/assets';
$imagePath: '/assets/images';
$font-size: 14px;
$font-size-origin: 14px;
$break-xs: 360px;
$break-sm: 480px;
$break-md: 767px;
$break-lg: 991px;
$break-ipad: 1024px;
$break-xl: 1199px;
$break-dsk: 1440px;
@mixin respond($media) {
    @if $media==xs {
        @media only screen and (max-width: $break-xs) {
            @content;
        }
    } @else if $media==sm {
        @media only screen and (max-width: $break-sm) {
            @content;
        }
    } @else if $media==md {
        @media only screen and (max-width: $break-md) {
            @content;
        }
    } @else if $media==lg {
        @media only screen and (max-width: $break-lg) {
            @content;
        }
    } @else if $media==ipad {
        @media only screen and (max-width: $break-ipad) {
            @content;
        }
    } @else if $media==xl {
        @media only screen and (max-width: $break-xl) {
            @content;
        }
    } @else if $media==dsk {
        @media only screen and (max-width: $break-dsk) {
            @content;
        }
    } @else {
        @media only screen and (max-width: $media) {
            @content;
        }
    }
}
@mixin respond-to($media) {
    @if $media==xs {
        @media only screen and (min-width: $break-xs) {
            @content;
        }
    } @else if $media==sm {
        @media only screen and (min-width: $break-sm) {
            @content;
        }
    } @else if $media==md {
        @media only screen and (min-width: $break-md) {
            @content;
        }
    } @else if $media==lg {
        @media only screen and (min-width: $break-lg) {
            @content;
        }
    } @else if $media==ipad {
        @media only screen and (min-width: $break-ipad) {
            @content;
        }
    } @else if $media==xl {
        @media only screen and (min-width: $break-xl) {
            @content;
        }
    } @else if $media==dsk {
        @media only screen and (min-width: $break-dsk) {
            @content;
        }
    } @else {
        @media only screen and (min-width: $media) {
            @content;
        }
    }
}
@mixin respond-only($media) {
    @if $media==xs {
        @media only screen and (min-width: $break-xs) {
            @content;
        }
    } @else if $media==sm {
        @media only screen and (min-width: $break-xs + 1) and (max-width: $break-sm) {
            @content;
        }
    } @else if $media==md {
        @media only screen and (min-width: $break-sm + 1) and (max-width: $break-md) {
            @content;
        }
    } @else if $media==lg {
        @media only screen and (min-width: $break-md + 1) and (max-width: $break-ipad) {
            @content;
        }
    } @else if $media==ipad {
        @media only screen and (min-width: $break-ipad + 1) and (max-width: $break-lg) {
            @content;
        }
    } @else if $media==xl {
        @media only screen and (min-width: $break-lg + 1) and (max-width: $break-xl) {
            @content;
        }
    } @else if $media==dsk {
        @media only screen and (min-width: $break-lg + 1) and (max-width: $break-dsk) {
            @content;
        }
    } @else {
        @media only screen and (min-width: $media) {
            @content;
        }
    }
}
@mixin respond-min-max($minMedia, $maxMedia) {
    @media only screen and (min-width: $minMedia) and (max-width: $maxMedia) {
        @content;
    }
}
@mixin clearfix() {
    &::after {
        display: block;
        content: '';
        clear: both;
    }
}
