<div class="container fixed-width-container">
    <div class="content-section">
        <form [formGroup]="creditCardDetailsForm">
            <div class="form-content-section">
                <div class="description"><strong class="title">Credit Card Details</strong></div>
                <div class="form-content-holder">
                    <div class="form-content-box">
                        <div class="form-block">
                            <div class="input-block">
                                <label for="" class="form-block-label">Name on Credit Card</label>
                                <div class="input-holder">
                                    <input type="text" class="form-input" formControlName="name" autofocus />
                                    <div
                                        class="error-message"
                                        *ngIf="
                                            !creditCardDetailsForm.get('name').valid &&
                                            creditCardDetailsForm.get('name').touched
                                        "
                                    >
                                        Name is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-block">
                            <div class="form-block-columns">
                                <div class="form-block-col flex-50">
                                    <div class="input-block">
                                        <label for="" class="form-block-label">Card Number</label>
                                        <input
                                            class="form-input"
                                            id="cc-number"
                                            formControlName="cardNumber"
                                            type="tel"
                                            autocomplete="cc-number"
                                            ccNumber
                                        />
                                        <div class="input-card">
                                            <span class="chars"
                                                ><img src="/assets/images/mastercard.svg" alt="Mastercard"
                                            /></span>
                                        </div>
                                        <div
                                            class="error-message"
                                            *ngIf="
                                                !creditCardDetailsForm.get('cardNumber').valid &&
                                                creditCardDetailsForm.get('cardNumber').touched
                                            "
                                        >
                                            Card Number is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-block-col-separator"></div>
                                <div class="form-block-col flex-25">
                                    <div class="input-block">
                                        <label for="" class="form-block-label">Expiry Date</label>
                                        <input
                                            class="form-input"
                                            formControlName="expiryDate"
                                            placeholder="MM/YY"
                                            type="tel"
                                            autocomplete="cc-exp"
                                            ccExp
                                        />
                                        <div
                                            class="error-message"
                                            *ngIf="
                                                !creditCardDetailsForm.get('expiryDate').valid &&
                                                creditCardDetailsForm.get('expiryDate').touched
                                            "
                                        >
                                            Expiry Date is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-block-col-separator"></div>
                                <div class="form-block-col flex-25">
                                    <div class="input-block">
                                        <label for="" class="form-block-label">CVV Number</label>
                                        <input
                                            class="form-input"
                                            maxlength="3"
                                            formControlName="cvvNumber"
                                            type="tel"
                                            autocomplete="off"
                                            ccCVC
                                        />
                                        <div
                                            class="error-message"
                                            *ngIf="
                                                !creditCardDetailsForm.get('cvvNumber').valid &&
                                                creditCardDetailsForm.get('cvvNumber').touched
                                            "
                                        >
                                            CVV Number is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="mb20 mt20"></div>
        <div class="form-content-section">
            <div class="description"></div>
            <div class="form-content-holder">
                <div class="form-content-box">
                    <div class="form-block">
                        <div class="form-block-columns">
                            <div class="hc-list-row-content dis-flex">
                                <div class="card-visa">
                                    <label>Card on file</label>
                                    <img
                                        src="/assets/images/mastercard.svg"
                                        alt="Mastercard"
                                        class="billing-card-around-space"
                                    />
                                    <label>MasterCard ending <b>8321</b></label>
                                </div>
                                <div class="billing-check-green">
                                    <span><img src="/assets/images/active.svg" alt="right" /> Active</span>
                                </div>
                                <div class="billing-replace-red"><span>Replace Card</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-separator mb20 mt20"></div>
    <div class="content-section">
        <form [formGroup]="billingDetailsForm">
            <div class="form-content-section">
                <div class="description">
                    <strong class="title">Billing Details</strong>
                    <p>Billing Details as you would like them to appear on your invoice.</p>
                </div>
                <div class="form-content-holder">
                    <div class="form-content-box">
                        <div class="form-block">
                            <div class="input-block">
                                <label for="" class="form-block-label">Company Name</label>
                                <div class="input-holder">
                                    <input type="text" class="form-input" formControlName="companyName" autofocus />
                                    <div
                                        class="error-message"
                                        *ngIf="
                                            !billingDetailsForm.get('companyName').valid &&
                                            billingDetailsForm.get('companyName').touched
                                        "
                                    >
                                        Company Name is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-block">
                            <div class="input-block">
                                <label for="" class="form-block-label">Address Line 1</label>
                                <input type="text" class="form-input" formControlName="addressLine1" />
                                <div
                                    class="error-message"
                                    *ngIf="
                                        !billingDetailsForm.get('addressLine1').valid &&
                                        billingDetailsForm.get('addressLine1').touched
                                    "
                                >
                                    Address is required
                                </div>
                            </div>
                        </div>
                        <div class="form-block">
                            <div class="input-block">
                                <label for="" class="form-block-label">Address line 2</label>
                                <div class="input-block">
                                    <input type="text" class="form-input" formControlName="addressLine2" />
                                </div>
                            </div>
                        </div>
                        <div class="form-block">
                            <div class="form-block-columns">
                                <div class="form-block-col">
                                    <div class="input-block">
                                        <label for="" class="form-block-label">City</label>
                                        <input type="text" class="form-input" formControlName="city" />
                                        <div
                                            class="error-message"
                                            *ngIf="
                                                !billingDetailsForm.get('city').valid &&
                                                billingDetailsForm.get('city').touched
                                            "
                                        >
                                            City is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-block-col-separator"></div>
                                <div class="form-block-col">
                                    <div class="input-block">
                                        <label for="" class="form-block-label">State / Province</label>
                                        <input type="text" class="form-input" formControlName="state" />
                                        <div
                                            class="error-message"
                                            *ngIf="
                                                !billingDetailsForm.get('state').valid &&
                                                billingDetailsForm.get('state').touched
                                            "
                                        >
                                            State is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-block-col-separator"></div>
                                <div class="form-block-col">
                                    <div class="input-block">
                                        <label for="" class="form-block-label">Postal / Zip Code</label>
                                        <input type="text" class="form-input" formControlName="zipCode" />
                                        <div
                                            class="error-message"
                                            *ngIf="
                                                !billingDetailsForm.get('zipCode').valid &&
                                                billingDetailsForm.get('zipCode').touched
                                            "
                                        >
                                            State is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-block">
                            <div class="input-block">
                                <label for="" class="form-block-label">Country</label>
                                <p-dropdown
                                    [options]="countryOptions"
                                    formControlName="country"
                                    [style]="{ width: '100%' }"
                                ></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
