<div class="wrapper" id="c_{{ componentKey }}" *ngIf="otpForm?.controls" [ngStyle]="config.containerStyles">
    <div class="pincode-inputs" *ngFor="let item of otpForm?.controls | keys; let i = index">
        <span class="line" *ngIf="i == 3"></span>
        <input
            type="text"
            [ngStyle]="config.inputStyles"
            maxlength="1"
            class="otp-input"
            autocomplete="off"
            [formControl]="otpForm.controls[item]"
            id="otp_{{ i }}_{{ componentKey }}"
            (paste)="pasteEvent($event)"
            (keyup)="onKeyUp($event, 'otp_' + (i + 1), 'otp_' + (i - 1))"
        />
    </div>
</div>
