@import "../../../styles/variables.scss";

.people-filter {
    display: flex;
    align-items: center;
    color: $black;
    font-size: 14px;
    margin: 0 0 20px;
    .all-candidates {
        font-size: 14px;
        font-weight: 500;
        background: $light-grey;
        width: 120px;
        height: 36px;
        outline: none;
        margin: 0 10px 0 0;
        border: none;
        &:hover {
            background: darken($light-grey, 10%);
        }
    }
    .add-filter {
        font-weight: bold;
        
        border: none;
        background: transparent;
        position: relative;
        .text {
            color: $pink;
            letter-spacing: 0.5px;
        }
    }
    .filter-content {
        position: absolute;
        border-radius: 5px;
        top: 36px;
        left: 8px;
        width: 279px;
        padding: 0;
        margin: 0;
        background: #ffffff;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
        z-index: 3;
    }
    .filter-options {
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: left;
        font-weight: normal;
        font-size: 13px;
        color: $main-blue;
        margin: 5px 0;
        li {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 5px 12px;
            &:hover {
                background: $light-grey;
            }
        }
        .img-block {
            margin: 0 10px 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 13px;
        }
    }
    .search-text {
        position: relative;
        border-bottom: 1px solid $light-grey;
        &:before {
            content: '';
            background: url(/assets/images/search-filter.svg) no-repeat center;
            width: 13px;
            height: 13px;
            position: absolute;
            left: 12px;
            top: 12px;
        }
        input {
            width: 100%;
            padding: 11px 0 11px 35px;
            background: transparent;
            border: none;
            outline: none;
        }
    }
    
    .sum-candidate {
        margin: 0 0 0 auto;
        
        font-weight: bold;
        
    }
}
.nr-list-content {
    .img-block {
        border-radius: 50%;
        overflow: hidden;
        display: inline-flex;
        position: absolute;
        left: -6px;
        top: 50%;
        transform: translate(0%,-50%);
        transition: all 0.25s;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #D7DBDF;
    }
    .col1 {
        position: relative;
    }
}
.hc-list-row-content:hover {
    .img-block {
        opacity: 0;
        z-index: -1;
    }
}
.flex-center {
    justify-content: center;
    text-align: center;
}
.col7 {
    padding: 0 0 0 30px;
}
//.nr-list-content {
//    height: 1200px;
//}