<div class="auth-page tenats-auth">
    <div class="auth-wrapper">
        <div class="auth-login animated fadeIn">
            <div class="auth-container">
                <div class="auth-container-frame">
                    <div class="left-block">
                        <div class="inner-block"> 
                            <div class="logo-holder">
                                <div class="logo" routerLink="/dashboard">
                                    <img src="/assets/images/hire-logo.svg" alt="HelloCrowd" width="115" height="44">
                                </div>
                            </div>
                            <h2>Forgot Password</h2>
                        </div>
                    </div>
                    <div class="main-block">
                        <div class="inner-block">
                            <form [formGroup]="resetForm" *ngIf="!resetSuccess">
                                <p-messages [(value)]="msgs"></p-messages>
                                <div class="section-content">
                                    <div class="hc-form-row">
                                        <input name="email" formControlName="email" class="form-input" type="email"
                                            placeholder="Email address">
                                    </div>
                                    <div class="flex-row flex-aic form-bottom">
                                        <button class="btn btn-primary mla" [disabled]="!resetForm.valid"
                                                (click)="onReset($event)" type="submit">Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div *ngIf="resetSuccess">
                                <p>Please check your email for password reset instructions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>