<app-loader *ngIf="contentLoading"></app-loader>
<form [formGroup]="resetForm" *ngIf="!resetSuccess">
    <h1>Reset your password</h1>
    <p-messages [(value)]="msgs"></p-messages>
    <div class="section-content">
        <div class="hc-form-row">
            <input
                name="email"
                formControlName="email"
                class="form-input"
                type="email"
                placeholder="Email address"
                (keydown.enter)="onReset($event); (false)"
            />
        </div>
        <div class="flex-row flex-aic form-bottom">
            <button
                class="btn btn-primary fwidth"
                [disabled]="!resetForm.valid"
                (click)="onReset($event)"
                type="submit"
            >
                GET RESET LINK
            </button>
        </div>
    </div>
</form>
<div *ngIf="resetSuccess">
    <h1>Check your email</h1>
    <p>
        We’ve just sent a reset link to <b>{{ email }}}</b>. It will expire shortly so check soon.
    </p>
</div>
