.action {
    background-color: #f9fafb;
    padding: 20px;
    .action-btn {
        background-color: #8e8e93;
        margin-left: 65px;
        width: 250px;
        height: 36px;
        border-color: #8e8e93;
    }
    .hide {
        display: none;
    }
}

.textarea {
    height: auto;
}
