@import 'variables';

.action {
    background-color: #f9fafb;
    padding: 20px;
    .action-btn {
        background-color: #8e8e93;
        margin-left: 65px;
        width: 250px;
        height: 36px;
        border-color: #8e8e93;
    }
    .hide {
        display: none;
    }
}

.form-content-box-bottom {
    padding: 20px;

    .textarea {
        color: #000000;
        font-size: $font-size-origin;
        height: auto;
        line-height: 1.43;
        padding: 6px 9px;
    }

    .form-block {
        position: relative;
    }

    span {
        font-size: 10px;
        color: #637381;
        line-height: normal;
        position: absolute;
        right: 10px;
        bottom: 12px;
    }
}
