
<div class="message-form">
    <form>
        <textarea name="message"></textarea>
        <button class="btn btn-primary">Add</button>
    </form>
</div>
<div class="timeline">
    <div class="timeline-item">
        <div class="timeline-item-img">
            <div class="inner"><img src="assets/images/placeholders/1.png" height="20" alt=""></div>
        </div>
        <div class="timeline-item-content">
            <div class="timeline-item-header">
                <div class="timeline-item-heading">
                    <p><strong>Timothy Barnes </strong> on <strong>{{candidate.first_name}}
                            {{candidate.last_name}}</strong></p>
                </div>
                <em class="date">13m ago</em>
            </div>
            <div class="timeline-item-message">
                <div class="inner">Good candidate, let’s get them in for a chat.</div>
            </div>
        </div>
    </div>
    <div class="timeline-item last">
        <div class="timeline-item-img">
            <div class="inner">
                <div class="dot"></div>
            </div>
        </div>
        <div class="timeline-item-content">
            <div class="timeline-item-header">
                <div class="timeline-item-heading">
                    <p><strong>{{candidate.first_name}} {{candidate.last_name}}</strong> was added to <strong>Graduate
                            Recruit Program</strong> from <strong>Indeed.com</strong></p>
                </div>
                <em class="date">4d ago</em>
            </div>
        </div>
    </div>

</div>