<div class="sidebar-header">
    <div class="logo" routerLink="/dashboard">
        <img src="/assets/images/hc-logo.svg" alt="HelloCrowd" width="30" height="30" class="hc-logo">
        <span class="separator">/</span>
        <span class="text-logo">HIRE</span>
    </div>
    <div class="user-pic"  *ngIf="user$ | async as user">{{ user?.initials }}</div>
</div>
<form class="search-form">
    <input type="text" name="search" class="input-text" placeholder="Search anything">
    <span class="icon">
        <img src="/assets/images/search.svg" alt="Search icon" width="13" height="13">
    </span>
</form>
<div class="sidebar-nav">
    <div class="sidebar-nav-link">
        <a href="#" routerLink="/dashboard/jobs" routerLinkActive="active">
            <span class="icon"><img src="/assets/images/jobs.svg" alt="Jobs icon" width="14" height="13"></span>
            <span class="text">Jobs</span>
        </a>
    </div>
    <div class="sidebar-nav-link">
        <a href="#" routerLink="/dashboard/people" routerLinkActive="active">
            <span class="icon">
                <img src="/assets/images/people.svg" alt="People icon" width="13" height="13">
            </span>
            <span class="text">People</span>
        </a>
    </div>
</div>
<div class="menu-separator"></div>
<div class="sidebar-nav-oc">
    <div class="sidebar-nav-oc-item" [attr.aria-expanded]="settingsOpened"  routerLinkActive="active">
        <div class="sidebar-nav-oc-item-header" (click)="onToggleOcItem($event)">
            <span class="icon">
                <img src="/assets/images/sidebar-settings.svg" alt="Settings icon" width="14" height="14">
            </span>
            <span class="text">Settings</span>
            <span class="ui-button-icon-left ui-clickable pi pi-chevron-down"></span>
            <span class="ui-button-icon-left ui-clickable pi pi-chevron-up"></span>
        </div>
        <div class="sidebar-nav-oc-item-content">
            <div class="sidebar-nav">
                <div class="sidebar-nav-link">
                    <a href="#" routerLink="/dashboard/questionnaires" routerLinkActive="active">
                        <span class="icon"><img src="/assets/images/sidebar-questions.svg" alt="Questions icon" width="14" height="13"></span>
                        <span class="text">Questions</span>
                    </a>
                </div>
                <div class="sidebar-nav-link">
                    <a href="#" routerLink="/dashboard/scorecards" routerLinkActive="active">
                        <span class="icon">
                            <img src="/assets/images/sidebar-scorecards.svg" alt="Scorecards icon" width="14" height="12">
                        </span>
                        <span class="text">Scorecards</span>
                    </a>
                </div>
                <div class="sidebar-nav-link">
                    <a href="#" routerLink="/dashboard/email-templates" routerLinkActive="active">
                        <span class="icon">
                            <img src="/assets/images/sidebar-email-templates.svg" alt="Email icon" width="14" height="11">
                        </span>
                        <span class="text">Email Templates</span>
                    </a>
                </div>
                <div class="sidebar-nav-link">
                    <a href="#" routerLink="/dashboard/integrations" routerLinkActive="active">
                        <span class="icon">
                            <img src="/assets/images/sidebar-integrations.svg" alt="Integrations icon" width="13" height="13">
                        </span>
                        <span class="text">Integrations</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>