@import "../../../styles/variables.scss";

:host {
    display: inline-block;
    width: 25px;
    height: 34px;
    position: relative;
    overflow: hidden;

    img {
        display: block;
        width: 25px;
        height: 34px;
    }

    .file-type-text {
        position: absolute;
        left: 50%;
        bottom: 5px;
        transform: translateX(-50%);
        color: $white;
        font-size: 8px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
