<div class="auth-header-block"><h2>Set Password</h2></div>
<div class="auth-block-content">
    <form [formGroup]="setPasswordForm">
        <ng-container *ngIf="msgs.length">
            <div class="error-block" *ngFor="let msg of msgs">
                <span class="error-icon"></span>
                <p>{{ msg.detail || 'Email not found.' }}</p>
            </div>
        </ng-container>
        <div class="form-row">
            <input formControlName="password" class="form-input" type="password" placeholder="Choose a password" />
        </div>
        <div class="form-row">
            <input
                formControlName="confirm_password"
                class="form-input"
                type="password"
                placeholder="Choose a password"
            />
        </div>
        <div class="form-row">
            <button class="btn sign-in" (click)="onSubmit($event)" type="submit">Reset Password</button>
        </div>
    </form>
</div>
<app-loader *ngIf="contentLoading"></app-loader>
