<div class="auth-page tenats-auth">
    <div class="auth-wrapper">
        <div class="auth-login animated fadeIn">
            <div class="auth-container">
                <div class="auth-container-frame">
                    <div class="left-block">
                        <div class="inner-block">
                            <div class="logo-holder">
                                <div class="logo" routerLink="/dashboard">
                                    <img src="/assets/images/hire-logo.svg" alt="HelloCrowd" width="115" height="44">
                                </div>
                            </div>
                            <h2>Let’s get you signed in</h2>
                        </div>
                    </div>
                    <div class="main-block">
                        <div class="inner-block">
                            <div class="signup-link">
                                <p>Don’t yet have an account?</p>
                                <!-- LINK TO SIGN UP -->
                                <a routerLink='/tenants-signup'> Sign up here</a>
                            </div>
                            <form [formGroup]="signinForm">
                                <p-messages [(value)]="msgs"></p-messages>
                                <button class="signin-btn" (click)="onSignInWithGoogle()">
                                    <div class="abcRioButtonIcon" style="padding:6px">
                                        <div style="width:26px;height:26px;"
                                            class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
                                            <img src="/assets/images/google.svg" alt="Google icon" width="26" height="26">
                                        </div>
                                    </div>
                                    <span class="text">Sign in with Google</span>
                                </button>
                                <div class="separator">
                                    <span class="separator-text">OR</span>
                                </div>
                                <div class="section-content">
                                    <div class="hc-form-row">
                                        <input name="email" formControlName="email" class="form-input" type="email"
                                            placeholder="Email address">
                                    </div>
                                    <div class="hc-form-row password-row">
                                        <input name="password" formControlName="password" type="password" class="form-input"
                                            placeholder="Password">
                                    </div>
                                    <div class="flex-row flex-aic form-bottom">
                                        <span class="forgot" routerLink='/tenants-reset-password'>Forgot Password</span>
                                        <button class="btn btn-primary mla" [disabled]="!signinForm.valid"
                                                (click)="onSignIn($event)" type="submit">Sign In
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loader *ngIf="contentLoading"></app-loader>
</div>