@import 'variables';
:host {
    .google-button .hc-button-inner button {
        position: relative;

        .google-icon {
            position: absolute;
            left: 2px;
            top: 2px;
            font-size: 0;
            line-height: 0;
            vertical-align: top;
            background: #fff;
            padding: 3px;
            border-radius: 3px;
        }
    }

    .attention {
        font-size: 15px;
        color: #72808d;
    }
    .checkbox-holder {
        display: flex;
    }

    .form-bottom hc-button {
        margin-left: auto;
    }

    .form-bottom {
        md-checkbox .md-container {
            margin-top: -8px;
        }
    }

    field-errors {
        width: 100%;

        p {
            margin: 3px 0 0 16px;
        }
    }

    .signin-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 35px;
        padding: 1px;
        background: $pink;
        border-radius: 4px;
        border: 0;
        transition: all 0.2s ease;
        outline: none !important;

        &:hover {
            cursor: pointer;
            background: darken($pink, 10%);
        }

        &:active {
            background: lighten($pink, 10%);
        }

        .abcRioButtonIcon {
            width: 26px;
            height: 26px;
            border-radius: 3px;
            margin: 1px 0 0 3px;
            padding: 4px !important;
            background: $white;
        }

        .text {
            flex: 1;
            text-align: center;
            font-size: 14px;
            line-height: 29px;
            letter-spacing: 1px;
            color: $white;
        }
    }
}
