<div class="inner-block">
    <ng-container>
        <h1>Welcome back.</h1>
        <span class="signin-btn-google" (click)="onGoogleSigninClick($event)">
            <span class="abcRioButtonIcon" style="padding:6px">
                <img src="/assets/images/google.svg" alt="Google icon" />
            </span>
            <span class="text">SIGN IN WITH GOOGLE</span>
        </span>
        <div class="separator"><span class="separator-text">Or, sign in with your email address </span></div>
        <form [formGroup]="signinForm" autocomplete="off">
            <p-messages [(value)]="msgs"></p-messages>
            <div class="section-content">
                <div class="hc-form-row">
                    <input
                        name="email"
                        class="form-input"
                        type="email"
                        placeholder="Email address"
                        formControlName="email"
                    />
                </div>
                <div class="hc-form-row password-row">
                    <input
                        name="password"
                        class="form-input"
                        type="password"
                        placeholder="Password"
                        formControlName="password"
                    />
                    <span routerLink="/auth/reset-password" class="forgot-pwd">forgot password?</span>
                </div>
                <div class="hc-form-row form-bottom">
                    <button
                        class="btn btn-primary signin-btn"
                        [disabled]="!signinForm.valid"
                        (click)="onSignIn($event)"
                        type="submit"
                    >
                        SIGN IN
                    </button>
                </div>
                <div class="sign-in-sso">
                    <span routerLink="/auth/signin-sso" class="sso">Sign in with SSO</span>
                </div>
            </div>
        </form>
    </ng-container>
</div>
