@import '../../../../styles/variables.scss';

$width: 100px;
$zoom: 1.8;

:host {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 249, 251, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    z-index: 1100;

    .loader {
        position: relative;
        margin: 0 auto;
        width: $width;
        height: $width;
        zoom: $zoom;
    }

    .hc_logo {
        fill: $main-blue;
    }

    .circular {
        animation: rotate 2s linear infinite;
        height: $width;
        width: $width;
    }

    .static {
        top: 25px;
        left: 25px;
        position: absolute;
        height: $width / 2;
        width: $width / 2;
    }

    .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: $main-blue;
    }
}
