.placeholder-block .upload-block {
    background: url(/assets/images/list-placeholder2.png) no-repeat 100% 100%;
    background-size: 451px 302px;
}

.hc-content-p {
    .icon-holder {
        width: 16px;
        text-align: center;
        margin-right: 11px;
    }
}
