<div class="auth-page tenats-auth">
    <div class="auth-wrapper">
        <div class="auth-login animated fadeIn">
            <div class="auth-container">
                <div class="left-block">
                    <div class="inner-block">
                        <div class="logo-holder">
                            <div class="logo" routerLink="/">
                                <img src="/assets/images/hire-logo.svg" alt="HelloCrowd" width="67" height="26" />
                            </div>
                        </div>
                    </div>
                    <div class="main-block">
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <div class="img-corner"></div>
            </div>
        </div>
    </div>
    <app-loader *ngIf="contentLoading"></app-loader>
</div>
