@import 'variables';
:host {
    .auth-page {
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        font-size: 14px;

        .logo-holder {
            display: flex;
            flex-direction: row;
            .logo {
                display: flex;
                flex-direction: row;
                align-items: center;
                outline: 0 !important;

                &:hover {
                    cursor: pointer;
                }

                .hc-logo {
                    display: block;
                    width: 30px;
                    height: 30px;
                    margin: 0;
                }

                .logo-separator {
                    display: block;
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 500;
                    color: $pink;
                    margin: 0 5px;
                }

                .text-logo {
                    display: block;
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 500;
                    margin: 0;
                }
            }
        }

        .auth-container {
            width: 100%;
            display: flex;
            min-height: 100vh;
            background-image: linear-gradient(to right, $dark-blue 50%, $main-background 50%);
            flex-direction: row;
            align-items: stretch;

            .left-block {
                width: 50%;
                background: $dark-blue;
                color: $dark-blue-text;
                padding: 45px 100px;
                position: relative;
                text-align: left;
                flex-shrink: 0;

                .inner-block {
                    width: 100%;
                }

                h2 {
                    font-size: 33px;
                    font-weight: 700;
                    margin: 0 0 24px;
                }

                .main-block {
                    margin-top: 30%;
                    position: relative;
                    .alert-container {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                    }

                    .term-text {
                        font-size: 15px;
                        font-weight: normal;
                        line-height: normal;
                    }

                    .signup-link {
                        display: flex;
                        justify-content: center;
                        margin: 0 0 32px;
                        font-size: 15px;

                        p {
                            margin: 0;
                        }

                        a {
                            padding: 0 0 0 3px;
                        }
                    }
                }
            }

            .img-corner {
                background: url('/assets/images/list-placeholder2.png') no-repeat right bottom;
                width: 50%;
                flex-shrink: 0;
            }
        }

        ::ng-deep {
            .hc-help-text {
                font-size: 14px;
                line-height: 1.4;
                vertical-align: top;
                display: inline-block;
            }

            .auth-wrapper {
                width: 584px;
                margin: 0 auto;
            }

            .alert {
                max-height: 65px;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .separator {
                margin: 10px 0;
                position: relative;
                color: #a5a6a6;
                font-size: 12px;
                font-weight: bold;
                text-align: center;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 100%;
                    height: 1px;
                    background: #a5a6a6;
                }

                .separator-text {
                    display: inline-block;
                    background: #fff;
                    padding: 1px 15px;
                    position: relative;
                    z-index: 2;
                }
            }

            .hc-form-row {
                min-height: 35px;
                margin: 0 0 15px;

                .hc-form-control {
                    font-size: 14px;
                    background: #f7f9fa;
                    border: 1px solid #f7f9fa;
                    margin: 0;
                }
            }

            .form-bottom {
                md-checkbox {
                    margin: 0;
                }

                .hc-help-text {
                    color: #545454;
                }
            }

            hc-button .hc-button-inner button {
                font-size: 14px;
                line-height: 29px;
            }

            .agreed-holder {
                a {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            p-messages {
                display: block;
                position: relative;
                margin: 0 0 20px;
            }

            p-checkbox {
                line-height: 0;
            }

            .checkbox-holder {
                align-items: center;
            }

            .auth-wrapper {
                width: 100%;
            }
        }
    }
}
