<div class="auth-page tenats-auth">
    <div class="auth-wrapper">
        <div class="auth-login animated fadeIn">
            <div class="auth-container">
                <div class="left-block">
                    <app-loader *ngIf="loading"></app-loader>
                    <div class="inner-block">
                        <div class="logo-holder">
                            <div class="logo" routerLink="/">
                                <img src="/assets/images/clevateam.png" alt="ClevaTeam" class="clevateam" />
                            </div>
                            <div class="top-left">
                                <div class="" *ngIf="this.currentRoute === '/auth/signin'">
                                    <button class="btn btn-primary" type="submit" routerLink="/auth/signup">
                                        Sign Up <span class="icon icon-right-arrow"></span>
                                    </button>
                                </div>
                                <div class="" *ngIf="this.currentRoute === '/auth/signup'">
                                    <button class="btn btn-primary" type="submit" routerLink="/auth/signin">
                                        Sign In
                                        <span class="icon icon-right-arrow"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-block">
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <div class="img-corner">
                    <div class="top-right">
                        <div class="hc-form-row text-right " *ngIf="this.currentRoute === '/auth/signin'">
                            <span>Don’t have an account?</span>
                            <button class="btn btn-primary" type="submit" routerLink="/auth/signup">
                                Sign Up <span class="icon icon-right-arrow"></span>
                            </button>
                        </div>
                        <div class="hc-form-row text-right " *ngIf="this.currentRoute === '/auth/signup'">
                            <span>Already have an account?</span>
                            <button class="btn btn-primary" type="submit" routerLink="/auth/signin">
                                Sign In
                                <span class="icon icon-right-arrow"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
