@import 'variables';

.hc-slider-block {
    padding: 40px 0 0;

    .slider-values {
        padding: 6px 0 0;
    }
}

.form-content-box.top-position {
    margin: 0 0 20px;
}

.form-content-box-top-holder {
    background: $light;
    margin: -20px -20px 25px;
    width: calc(100% + 40px);
    padding: 15px 20px;
    border-radius: 5px 5px 0 0;

    .form-block {
        display: flex;
        align-items: center;
    }

    input {
        border: none;
        background: transparent;
        margin: 0 0 0 17px;
        width: 220px;
        outline: none;
        padding: 5px 0;
    }
}

.form-content-holder.assessment-holder {
    .form-content-box {
        margin-bottom: 20px;
    }
}

.form-content-box.add-assessment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0;
    padding: 9px;
    cursor: pointer;

    span {
        margin: 0 10px 0 0;
        font-size: 23px;
        font-weight: 300;
        display: inline-block;
    }
}

.list-searching {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0 0 20px;

    .item {
        position: relative;
        margin: 0 30px 0 0;
        text-align: center;

        &.selected {
            .img-block {
                border: 1px solid $green;
            }

            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $green;
            }
        }
    }

    .img-block {
        border: 1px solid $grey-border;
        border-radius: 10px;
        padding: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 54px;
        min-height: 54px;
        margin: 0 0 9px;
    }

    img {
        border-radius: 2px;
    }

    p {
        color: $grey;
        font-size: $font-size-low;
        margin: 0;
    }
}

.selected-integration {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        margin: 0 auto 0 20px;
        font-size: 16px;
    }

    .remove {
        background: transparent;
        border: none;
        box-shadow: none;
        outline: none;
        cursor: pointer;

        img {
            display: block;
        }
    }
}

.btn-remove {
    width: 36px;
    height: 36px;
    border-radius: 3px;
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 11px;
        height: 13px;
    }
}

// .form-content-section {
//     .form-block-label {
//         font-size: 13px;
//     }
// }
.form-content-section {
    .description {
        font-size: 13px;
        flex: 0 0 31%;
        padding: 24px 20px 0 0;

        .title {
            font-size: 13px;
            margin: 0 0 16px;
        }

        p {
            margin: 0;
        }
    }
}

.individual-category {
    .input-block {
        display: flex;
    }

    .hc-slider-block {
        flex: 1;
        padding: 10px 50px 0 20px;
    }

    &.form-content-section {
        .form-content-box {
            padding: 18px 20px 10px;
        }

        .form-block {
            margin: 0 0 5px;
        }

        .form-block-label {
            font-size: 13px;
            flex: 0 0 123px;
        }
    }

    .form-block-value {
        text-align: left;
        flex: 0 0 34px;
        font-weight: bold;

        width: 34px;
        overflow: visible;
        white-space: nowrap;
    }
}

.form-content-box {
    .subtitle {
        margin: 0 0 10px;
        display: flex;
        position: relative;

        .btn-delete {
            color: #d7dbdf;
            background: transparent;
            height: auto;
            font-size: 24px;
            line-height: 1;
            padding: 0 4px;
            margin: 0 0 0 20px;
        }

        .icon {
            width: 20px;
            height: 20px;
            border-radius: 6px;
            border: solid 1px $pink;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 6px 0 0;
        }
    }

    .title {
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 20px;
    }

    .assessment-list {
        display: flex;
        justify-content: flex-start;
        font-size: 14px;
        text-align: center;
        margin: 0 0 34px;

        &:last-child {
            margin: 0 0 10px;
        }
    }

    .assessment-img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        border: solid 1px $light-grey;
        margin: 0 auto 9px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .assessment-item {
        margin: 0;
        flex: 0 0 99px;
        margin-right: 15.5%;
        cursor: pointer;

        &:hover {
            color: $pink;

            .assessment-img {
                border-color: $pink;
            }
        }

        p {
            margin: 0;
        }

        &.active {
            color: $pink;
            display: none;

            .assessment-img {
                border-color: $pink;
            }
        }
    }

    svg-icon {
        display: flex;
    }
}
